### 1. Define two variables, x and y, with values 5 and 10.
    Perform the following operations and print the results:
a. Sum of x and y  
b. Difference of y and x  
c. Product of x and y  
d. Quotient of y by x

In [11]:
# a. Sum of x and y 
x = 5
y = 10
display(x+y)

# b. Difference of y and x  
display( y - x)

# c. Product of x and y  
display(y * x)

# d. Quotient of y by x  

display(y/x)

15

5

50

2.0

#### 3. Define a set of numbers containing 1, 2, 3, 4, and 5.
a. Add the number 6 to the set.  
b. Remove the number 3 from the set.  
c. Check if the numbers 5 and 7 are in the set, and print the results.

In [20]:
set_of_numbers = {1, 2, 3, 4, 5}

display(set_of_numbers)
# a. Add "orange" to the list.  

set_of_numbers.add(6)

display(set_of_numbers)

# b. Remove "banana" from the list. 
set_of_numbers.remove(3)

display(set_of_numbers)

# c. Check if the numbers 5 and 7 are in the set, and print the results. 
num_7_is_in_set = 7 in set_of_numbers
message_one = "7 is in set" if num_7_is_in_set else "7 is not in set"
message_one_ = num_7_is_in_set and "7 is in set" or "7 is not in set"

num_5_is_in_set = 5 in set_of_numbers
message_two = "5 is in set" if num_5_is_in_set else "5 is not in set"
message_two_ = num_5_is_in_set and "5 is in set" or "5 is not in set"

display(message_one)
display(message_one_)

display(message_two)
display(message_two_)

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 6}

{1, 2, 4, 5, 6}

'7 is not in set'

'5 is in set'

### 2. Define a list of fruits containing "apple", "banana", and "cherry".
a. Add "orange" to the list.  
b.  Remove "banana" from the list.  
c.  Print the first and last elements of the list.

In [37]:
import re
# a. Add "orange" to the list.  
# list_of_fruits = ["apple", "banana", "cherry"]
fruits = "apple banana and cherry"
# list_of_fruits = fruits.split()
# empty string ""
pattern = r"\s+|and"
result = re.split(pattern, fruits) 
display(result)
""" 
 for word in result: #    for i in range(0, len(result), 1) 
                                word = result[i]
    word will represent each element in the list
word
 1. apple   appended because length of the string is greater than 0 which is 5
 2. banana  appended because length of the string is greater than 0 which is 6
 3. ''      not appended because the length of the string is 0
 4. ''      not appended because the length of the string is 0
 5. cherry  appended because length of the string is greater than 0 which is 6
"""
list_of_fruits  = [word for word in result if word]
# list_of_fruits = [ word for word in re.split(pattern, fruits) if word]

display(list_of_fruits)

# b.  Remove "banana" from the list.  
list_of_fruits.pop(1)

display(list_of_fruits)

list_of_fruits.append( 'banana')
list_of_fruits.remove( 'banana')

display(list_of_fruits)

# c.  Print the first and last elements of the list.  
display(f"{list_of_fruits[0]} {list_of_fruits[-1]}")

['apple', 'banana', '', '', 'cherry']

['apple', 'banana', 'cherry']

['apple', 'cherry']

['apple', 'cherry']

'apple'

'cherry'

### 4. Define a tuple representing coordinates (10.5, 20.7).  
a. Print the x (first) and y (second) coordinates separately.

In [28]:
coordinates = (10.5, 20.7)
x, y = coordinates

display(x)
display(y)

10.5

20.7

### 5. Define a dictionary of student grades, where:
    - "Alice" has a grade of 85  
    - "Bob" has a grade of 90  
    - "Charlie" has a grade of 78  
    a Add a new student "David" with a grade of 88.  
    b Update Alice's grade to 95.  
    c Print Bob's grade.

In [6]:
grades = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 75, 
}
display(grades)
#  a Add a new student "David" with a grade of 88.  
grades["David"] = 88 # assigning
# grades.update({"David": 88}) # ingestion
# grades = {**grades, "david": 88} # cloning

display(grades)

#  b Update Alice's grade to 95.  
grades["Alice"] = 95
# grades.update({"Alice": 95}) # ingestion
# grades = {**grades, "Alice": 95} # cloning

#  c Print Bob's grade.  

bobs_grade = grades["Bob"]
bobs_grade = grades.get("Bobx", "Not found")

display(bobs_grade)

{'Alice': 85, 'Bob': 90, 'Charlie': 75}

{'Alice': 85, 'Bob': 90, 'Charlie': 75, 'David': 88}

'Not found'

### 6. Define a variable called `age` with a value of 18.
    a. Write an if/else statement that checks if the age is 18 or above.
        If true, print "You are eligible to vote", otherwise print "You are not eligible to vote".

In [14]:
age = 18

# if age > 18:
#     display("You are eligible to vote")
# else:
#     display("You are not eligible to vote")

# using ternary
# message = "You are eligible to vote" if age > 18  else "You are not eligible to vote"
message = age > 18 and "You are eligible to vote"  or  "You are not eligible to vote" 
                            
display(message)
# or all in one
message = age > 18 and display("You are eligible to vote" ) or display("You are not eligible to vote")

'You are not eligible to vote'

'You are not eligible to vote'

### 7. Define a list of fruits: ["apple", "orange", "grape"].  
    a.  Use a `for` loop to print each fruit in the list.

In [16]:
#    a) Use a `for` loop to print each fruit in the list.
fruits = ["apple", "orange", "grape"]

for index in range(0, len(fruits), 1):
    display(fruits[index])

for fruit in fruits: #>  for index in range(0, len(fruits), 1):
    display(fruit) #>  fruits[i] => fruit

'apple'

'orange'

'grape'

'apple'

'orange'

'grape'


### 8. Define a variable `count` with a value of 5.  
 a. Use a `while` loop to print a countdown from 5 to 1.

In [19]:
count = 5

while count >=1:
    display(count)
    count -= 1
    
# for count in range(5, 0, -1):
#     display(count)

5

4

3

2

1

### 9. Challenge: Combine lists, sets, dictionaries, and loops.
 a. Define a list of numbers from 1 to 10.  
 b. Create a set of even numbers from the list using a `for` loop or comprehension.  
 c. Create a dictionary that maps each even number to its square.  
 d. Print the set of even numbers and the dictionary.

In [23]:
#  a. Define a list of numbers from 1 to 10.  

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

display(numbers)

#  b. Create a set of even numbers from the list using a `for` loop or comprehension.  

even_numbers = [ number for number in numbers if number %2 == 0]

display(even_numbers)

#  c. Create a dictionary that maps each even number to its square. 

even_number_squares = { str(number): number **2  for number in numbers if number %2 == 0 }

display(even_number_squares)

# d. Print the set of even numbers and the dictionary.  
set_of_even_numbers = set(even_numbers)

display(set_of_even_numbers)
display(even_number_squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[2, 4, 6, 8, 10]

{'2': 4, '4': 16, '6': 36, '8': 64, '10': 100}

{2, 4, 6, 8, 10}

{'2': 4, '4': 16, '6': 36, '8': 64, '10': 100}

#### 10. Conversion between List, Set, and Tuple
 a. Convert the list of fruits to a set and print the result.      
 b. Convert the set of even numbers to a tuple and print the result.  
 c. Convert the tuple of coordinates to a list and print the result.

In [29]:
# a. Convert the list of fruits to a set and print the result.      
display(set(fruits))

#  b. Convert the set of even numbers to a tuple and print the result.  

display(tuple(fruits))

#  c. Convert the tuple of coordinates to a list and print the result.  

display(tuple(coordinates))

{'apple', 'grape', 'orange'}

('apple', 'orange', 'grape')

(10.5, 20.7)

### 11. Dictionary Keys and Values
    a. Print the list of dictionary keys from the `grades` dictionary.  
    b. Print the list of dictionary values from the `grades` dictionary.  
    c. Loop through the dictionary and print each student name (key) and their grade (value).

In [34]:
# a. Print the list of dictionary keys from the `grades` dictionary.  

display(list(grades.keys()))

# b. Print the list of dictionary values from the `grades` dictionary.  

display(list(grades.values()))

# for k, v in zip(grades.keys(), grades.values()):
#     display(f"{k}: {v}")
    
for k, v in grades.items():
    display(f"{k}: {v}")

['Alice', 'Bob', 'Charlie', 'David']

[95, 90, 75, 88]

'Alice: 95'

'Bob: 90'

'Charlie: 75'

'David: 88'