### 1. Define two variables, x and y, with values 5 and 10.
    Perform the following operations and print the results:
a. Sum of x and y  
b. Difference of y and x  
c. Product of x and y  
d. Quotient of y by x

In [11]:
# a. Sum of x and y 
x = 5
y = 10
display(x+y)

# b. Difference of y and x  
display( y - x)

# c. Product of x and y  
display(y * x)

# d. Quotient of y by x  

display(y/x)

15

5

50

2.0

#### 3. Define a set of numbers containing 1, 2, 3, 4, and 5.
a. Add the number 6 to the set.  
b. Remove the number 3 from the set.  
c. Check if the numbers 5 and 7 are in the set, and print the results.

In [20]:
set_of_numbers = {1, 2, 3, 4, 5}

display(set_of_numbers)
# a. Add "orange" to the list.  

set_of_numbers.add(6)

display(set_of_numbers)

# b. Remove "banana" from the list. 
set_of_numbers.remove(3)

display(set_of_numbers)

# c. Check if the numbers 5 and 7 are in the set, and print the results. 
num_7_is_in_set = 7 in set_of_numbers
message_one = "7 is in set" if num_7_is_in_set else "7 is not in set"
message_one_ = num_7_is_in_set and "7 is in set" or "7 is not in set"

num_5_is_in_set = 5 in set_of_numbers
message_two = "5 is in set" if num_5_is_in_set else "5 is not in set"
message_two_ = num_5_is_in_set and "5 is in set" or "5 is not in set"

display(message_one)
display(message_one_)

display(message_two)
display(message_two_)

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 6}

{1, 2, 4, 5, 6}

'7 is not in set'

'5 is in set'

### 2. Define a list of fruits containing "apple", "banana", and "cherry".
a. Add "orange" to the list.  
b.  Remove "banana" from the list.  
c.  Print the first and last elements of the list.

In [37]:
import re
# a. Add "orange" to the list.  
# list_of_fruits = ["apple", "banana", "cherry"]
fruits = "apple banana and cherry"
# list_of_fruits = fruits.split()
# empty string ""
pattern = r"\s+|and"
result = re.split(pattern, fruits) 
display(result)
""" 
 for word in result: #    for i in range(0, len(result), 1) 
                                word = result[i]
    word will represent each element in the list
word
 1. apple   appended because length of the string is greater than 0 which is 5
 2. banana  appended because length of the string is greater than 0 which is 6
 3. ''      not appended because the length of the string is 0
 4. ''      not appended because the length of the string is 0
 5. cherry  appended because length of the string is greater than 0 which is 6
"""
list_of_fruits  = [word for word in result if word]
# list_of_fruits = [ word for word in re.split(pattern, fruits) if word]

display(list_of_fruits)

# b.  Remove "banana" from the list.  
list_of_fruits.pop(1)

display(list_of_fruits)

list_of_fruits.append( 'banana')
list_of_fruits.remove( 'banana')

display(list_of_fruits)

# c.  Print the first and last elements of the list.  
display(f"{list_of_fruits[0]} {list_of_fruits[-1]}")

['apple', 'banana', '', '', 'cherry']

['apple', 'banana', 'cherry']

['apple', 'cherry']

['apple', 'cherry']

'apple'

'cherry'

### 4. Define a tuple representing coordinates (10.5, 20.7).  
a. Print the x (first) and y (second) coordinates separately.

In [38]:
coordinates = (10.5, 20.7)
x, y = coordinates

display(x)
display(y)

10.5

20.7