# SQLite DDL Code Challenges

This notebook contains a series of SQLite DDL (Data Definition Language) exercises to help you practice creating and managing database schemas. For each exercise, read the question in the markdown cell, and then execute the provided SQL cell to complete the challenge.

Make sure to run the setup code below to install necessary packages, load the `ipython-sql` extension, and connect to the database.

In [22]:
# Install necessary packages
%pip install ipython-sql sqlalchemy pymysql prettytable

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.5.0)
Requirement already satisfied: sqlalchemy in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.36)
Requirement already satisfied: pymysql in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.1.1)
Requirement already satisfied: prettytable in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.12.0)
Requirement already satisfied: ipython in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlparse in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: wcwidth in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: decorator in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\atew\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
# Load the ipython-sql extension
%load_ext sql

# Connect to the SQLite database 
%sql mysql+pymysql://root:secret@localhost:3306

# Configure ipython-sql to use a valid PrettyTable style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%%sql

CREATE DATABASE IF NOT EXISTS exercise_1;
USE exercise_1;

 * mysql+pymysql://root:***@localhost:3306
   mysql+pymysql://root:***@localhost:3306/tests
1 rows affected.
0 rows affected.

[]

## Challenge 1: Create a Table
**Question:**  
Create a table named `employees` with the following columns:
- `employee_id` (INTEGER): Primary Key
- `first_name` (TEXT): First name of the employee
- `last_name` (TEXT): Last name of the employee
- `hire_date` (DATE): Date when the employee was hired

In [ ]:
%%sql
 CREATE TABLE employees (
    employee_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    hire_date DATE NOT NULL
);

## Challenge 2: Create a Table with Foreign Keys
**Question:**  
Create a table named `departments` and another table named `employee_departments` with a foreign key relationship:
- `departments` table:
  - `department_id` (INTEGER): Primary Key
  - `department_name` (TEXT): Name of the department
- `employee_departments` table:
  - `id` (INTEGER): Primary Key
  - `employee_id` (INTEGER): Foreign Key referencing `employees.employee_id`
  - `department_id` (INTEGER): Foreign Key referencing `departments.department_id`

In [ ]:
%%sql
CREATE TABLE departments (
    department_id INTEGER PRIMARY KEY,
    department_name TEXT NOT NULL
);

CREATE TABLE employee_departments (
    id INTEGER PRIMARY KEY,
    employee_id INTEGER NOT NULL,
    department_id INTEGER NOT NULL,
    FOREIGN KEY (employee_id) REFERENCES employees(employee_id),
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

## Challenge 3: Alter Table
**Question:**  
Add a new column `email` (TEXT) to the `employees` table.

In [ ]:
%%sql 
ALTER TABLE employees
ADD COLUMN email TEXT;

## Challenge 4: Drop a Column (Workaround in SQLite)
**Question:**  
Drop the `email` column from the `employees` table. (SQLite does not support dropping columns directly.)

In [ ]:
%%sql
  -- Step 1: Create a new table without the 'email' column
CREATE TABLE employees_new (
    employee_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    department_id INTEGER,
    salary DECIMAL(10, 2)
);

-- Step 2: Copy data from the original table to the new table
INSERT INTO employees_new (employee_id, first_name, last_name, department_id, salary)
SELECT employee_id, first_name, last_name, department_id, salary
FROM employees;

-- Step 3: Drop the original table
DROP TABLE employees;

-- Step 4: Rename the new table to the original table's name
ALTER TABLE employees_new RENAME TO emp

## Challenge 5: Create an Index
**Question:**  
Create an index on the `last_name` column of the `employees` table to speed up search queries.

In [ ]:
%%sql 
CREATE INDEX idx_last_name
ON employees (last_name);

## Challenge 6: Drop an Index
**Question:**  
Drop the index `idx_last_name` from the `employees` table.

In [ ]:
%%sql 
DROP INDEX idx_last_name;

## Challenge 7: Add a Unique Constraint
**Question:**  
Alter the `departments` table to add a unique constraint on the `department_name` column.

In [1]:
%%sql  
ALTER TABLE departments
ADD CONSTRAINT unique_department_name UNIQUE (department_name);

UsageError: Cell magic `%%sql` not found.

## Challenge 8: Create a View
**Question:**  
Create a view named `employee_details` that displays the employee’s first name, last name, hire date, and department name.

In [ ]:
%%sql 
-- Step 1: Create a new table with a UNIQUE constraint on the 'department_name' column
CREATE TABLE departments_new (
    department_id INTEGER PRIMARY KEY,
    department_name TEXT NOT NULL UNIQUE
);

-- Step 2: Copy data from the old table into the new table
INSERT INTO departments_new (department_id, department_name)
SELECT department_id, department_name
FROM departments;

-- Step 3: Drop the old table
DROP TABLE departments;

-- Step 4: Rename the new table to the original table name
ALTER TABLE departments_new RENAME TO departments;

## Challenge 9: Create a Trigger
**Question:**  
Create a trigger named `update_hire_date` that updates the `hire_date` to the current date whenever a new row is inserted into the `employees` table with a NULL `hire_date`.

In [ ]:
%%sql 
CREATE TRIGGER update_hire_date
BEFORE INSERT ON employees
FOR EACH ROW
WHEN NEW.hire_date IS NULL
BEGIN
    UPDATE employees
    SET hire_date = DATE('now')
    WHERE employee_id = NEW.employee_id;
END;

## Challenge 10: Drop a Table
**Question:**  
Drop the `employee_departments` table from the database.

In [ ]:
%%sql 
DROP TABLE employee_departments;