# SQL DDL and DML Exercises

This notebook contains SQL exercises for creating and manipulating database tables using DDL and DML commands.

In [ ]:
# Install necessary packages
%pip install jupyter ipython-sql prettytable pymysql mysqlclient

In [25]:
# Load the ipython-sql extension
%load_ext sql

# Connect to the SQLite database 
%sql mysql+pymysql://root:secret@localhost:3306

# Configure ipython-sql to use a valid PrettyTable style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql

CREATE DATABASE IF NOT EXISTS exercise_2;
USE exercise_2;

 * mysql+pymysql://root:***@localhost:3306
   mysql+pymysql://root:***@localhost:3306/tests
1 rows affected.
0 rows affected.
35 rows affected.

[('apc',),
 ('atlas_dev',),
 ('atlas_local',),
 ('exercise_2',),
 ('information_schema',),
 ('int_test_db',),
 ('int_test_db_dev',),
 ('int_test_db_migration',),
 ('integration_test_db',),
 ('integration_test_db_migration',),
 ('mysql',),
 ('performance_schema',),
 ('some_new_db',),
 ('spicedb',),
 ('sys',),
 ('test',),
 ('test_db_1f7a5ad5',),
 ('test_db_1f7a5ad5_dev',),
 ('test_db_41a2f224',),
 ('test_db_41a2f224_dev',),
 ('test_db_9b014f97',),
 ('test_db_9b014f97_dev',),
 ('test_db_cbe3d470',),
 ('test_db_cbe3d470_dev',),
 ('test_db_cd02a26d',),
 ('test_db_cd02a26d_dev',),
 ('test_db_dev',),
 ('test_db_e70f1509',),
 ('test_db_e70f1509_dev',),
 ('test_dev',),
 ('test_integration',),
 ('test_integration_dev',),
 ('test_table',),
 ('test_table_dev',),
 ('tests',)]

## Section 1: DDL Questions

### Question 1: Create Table
Create a table named `employees` with the following columns:

| Column Name    | Data Type |
|----------------|-----------|
| employee_id    | INTEGER   |
| first_name     | TEXT      |
| last_name      | TEXT      |
| department_id  | INTEGER   |
| salary         | DECIMAL   |

Make `employee_id` the primary key.

### Solution

In [23]:
%%sql

CREATE TABLE IF NOT EXISTS employees (
    employee_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    hire_date DATE,
    salary REAL
);

SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306
   mysql+pymysql://root:***@localhost:3306/tests
0 rows affected.
1 rows affected.

[('employees',)]

### Question 2: Create Another Table
Create a table named `projects` with the following columns:

| Column Name     | Data Type |
|-----------------|-----------|
| project_id      | INTEGER   |
| project_name    | TEXT      |
| department_id   | INTEGER   |
| start_date      | DATE      |
| end_date        | DATE      |

Make `project_id` the primary key.

### Solution

In [ ]:
%%sql

### Question 3: Alter Table
Add a column `status` (TEXT) to the `projects` table.

### Solution

In [ ]:
%%sql

### Question 4: Drop Table
Drop the `projects` table from the database.

### Solution

In [ ]:
%%sql

## Section 2: DML Questions

### Question 1: Insert Data
Insert the following employees into the `employees` table:

| employee_id | first_name | last_name | department_id | salary  |
|-------------|------------|-----------|---------------|---------|
| 1           | John       | Doe       | 101           | 50000   |
| 2           | Jane       | Smith     | 102           | 60000   |
| 3           | Alice      | Johnson   | 101           | 55000   |

### Solution

In [ ]:
%%sql

### Question 2: Update Data
Increase the salary of employees in Department `101` by 10%.

### Solution

In [ ]:
%%sql

### Question 3: Delete Data
Delete all employees with a salary below `55000`.

### Solution

In [ ]:
%%sql

### Question 4: Join Data
Find the `first_name`, `last_name`, and `project_name` of employees working on projects in their respective departments.

### Solution

In [ ]:
%%sql

### Question 5: Aggregate Functions
Find the average salary of employees in each department.

### Solution

In [ ]:
%%sql

### Question 6: Subquery
Find the `first_name` and `last_name` of employees whose salary is above the average salary of all employees.

### Solution

In [ ]:
%%sql

### Question 7: Left Join
Retrieve the `first_name` and `last_name` of employees who are not assigned to any projects.

### Solution

In [ ]:
%%sql

### Question 8: Combined Query
Retrieve the list of projects along with the number of employees working on each project. Include projects with zero employees.

### Solution

In [ ]:
%%sql