# SQLite DDL Code Challenges

This notebook contains a series of SQLite DDL (Data Definition Language) exercises to help you practice creating and managing database schemas. For each exercise, read the question in the markdown cell, and then execute the provided SQL cell to complete the challenge.

Make sure to run the setup code below to install necessary packages, load the `ipython-sql` extension, and connect to the database.

In [1]:
# Install necessary packages
%pip install ipython-sql sqlalchemy pymysql prettytable

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: ipython-sql in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.5.0)
Requirement already satisfied: sqlalchemy in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.36)
Requirement already satisfied: pymysql in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.1.1)
Requirement already satisfied: prettytable in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.12.0)
Requirement already satisfied: ipython in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlparse in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: wcwidth in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: decorator in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

In [2]:
# Load the ipython-sql extension
%load_ext sql

# Connect to the SQLite database 
%sql mysql+pymysql://root:top!secret@localhost:3307

# Configure ipython-sql to use a valid PrettyTable style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [3]:
%%sql

CREATE DATABASE IF NOT EXISTS exercise_1;
USE exercise_1;

 * mysql+pymysql://root:***@localhost:3307
1 rows affected.
0 rows affected.

[]

## Challenge 1: Create a Table
**Question:**  
Create a table named `employees` with the following columns:
- `employee_id` (INTEGER): Primary Key
- `first_name` (TEXT): First name of the employee
- `last_name` (TEXT): Last name of the employee
- `hire_date` (DATE): Date when the employee was hired

In [16]:
%%sql

CREATE TABLE employees(
   employee_id INTEGER PRIMARY KEY,
   first_name VARCHAR(50) NOT NULL,
   last_name  TEXT NOT NULL,
   hire_date  DATE NOT NULL
);

 * mysql+pymysql://root:***@localhost:3307
0 rows affected.

[]

## Challenge 2: Create a Table with Foreign Keys
**Question:**  
Create a table named `departments` and another table named `employee_departments` with a foreign key relationship:
- `departments` table:
  - `department_id` (INTEGER): Primary Key
  - `department_name` (TEXT): Name of the department
- `employee_departments` table:
  - `id` (INTEGER): Primary Key
  - `employee_id` (INTEGER): Foreign Key referencing `employees.employee_id`
  - `department_id` (INTEGER): Foreign Key referencing `departments.department_id`

In [10]:
%%sql
 
CREATE TABLE departments(
 department_id INTEGER PRIMARY KEY,
 department_name TEXT NOT NULL
);

create TABLE employee_departments(
    id INTEGER PRIMARY  KEY,
    employee_id  INTEGER NOT NULL,
    department_id INTEGER  NOT NULL,
    FOREIGN KEY (employee_id) REFERENCES employees(employee_id),
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

 * mysql+pymysql://root:***@localhost:3307
0 rows affected.
0 rows affected.

[]

## Challenge 3: Alter Table
**Question:**  
Add a new column `email` (TEXT) to the `employees` table.

In [11]:
%%sql 
ALTER TABLE employees
ADD COLUMN email TEXT;

 * mysql+pymysql://root:***@localhost:3307
0 rows affected.

[]

## Challenge 4: Drop a Column 
**Question:**  
Drop the `email` column from the `employees` table.

In [12]:
%%sql
ALTER TABLE employees
DROP COLUMN email;

 * mysql+pymysql://root:***@localhost:3307
0 rows affected.

[]

## Challenge 5: Create an Index
**Question:**  
Create an index on the `last_name` column of the `employees` table to speed up search queries.

In [18]:
%%sql 

CREATE INDEX idx_last_name
ON  employees (last_name(225));

 * mysql+pymysql://root:***@localhost:3307
0 rows affected.

[]

## Challenge 6: Drop an Index
**Question:**  
Drop the index `idx_last_name` from the `employees` table.

In [20]:
%%sql 
DROP INDEX idx_last_name ON employees;

 * mysql+pymysql://root:***@localhost:3307
0 rows affected.

[]

## Challenge 7: Add a Unique Constraint
**Question:**  
Alter the `departments` table to add a unique constraint on the `department_name` column.

In [28]:
%%sql  
ALTER TABLE departments
ADD CONSTRAINT unique_department_name UNIQUE (department_name(255));

 * mysql+pymysql://root:***@localhost:3307
0 rows affected.

[]

## Challenge 8: Create a View
**Question:**  
Create a view named `employee_details` that displays the employeeâ€™s first name, last name, hire date, and department name.

In [29]:
%%sql 
 
CREATE VIEW employee_details AS 
SELECT 
    e.first_name,
    e.last_name,
    e.hire_date,
    d.department_name
FROM 
    employees e
JOIN 
    employee_departments ed
ON 
    e.employee_id = ed.employee_id
JOIN 
    departments d
ON 
    d.department_id = ed.department_id;

 * mysql+pymysql://root:***@localhost:3307
0 rows affected.

[]

## Challenge 9: Create a Trigger
**Question:**  
Create a trigger named `update_hire_date` that updates the `hire_date` to the current date whenever a new row is inserted into the `employees` table with a NULL `hire_date`.
```SQL
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
VALUES (1, 'John', 'Doe', '2022-01-15'), 
        (2, 'Jane', 'Smith', '2023-05-20') ,
        (3, 'Robert', 'Johnson', '2021-09-10'), 
         (4, 'Emily', 'Davis', '2020-03-05');

```
[
    (1, 'John', 'Doe', '2022-01-15'), 
        (2, 'Jane', 'Smith', '2023-05-20') ,
        (3, 'Robert', 'Johnson', '2021-09-10'), 
         (4, 'Emily', 'Davis', '2020-03-05');
         
         (5, 'Alex', 'Davis', NULL);
]

FOR EACH ROW:
    # NEW  (1, 'John', 'Doe', '2022-01-15'),  DURING FIST LOOP  WILL NOT ENTER IF CONDITION
    # NEW   (2, 'Jane', 'Smith', '2023-05-20') , DURING SECOND LOOP WILL NOT ENTER IF CONDITION
    # NEW   (3, 'Robert', 'Johnson', '2021-09-10'), DURING THIRD LOOP WILL NOT ENTER IF CONDITION
    # NEW   (4, 'Emily', 'Davis', '2020-03-05'); DURING FOURTH LOOP WILL NOT ENTER IF CONDITION
    # NEW    (5, 'Alex', 'Davis', NULL);  DURING FIFTH LOOP
                UPDATE hire_date
            (5, 'Alex', 'Davis',  '2024-12-06'); 

WHEN ARE TRIGGERS Triggered
    1. selectively either during update or insert | mandatory
    2. when specific condition is met | optional

In [ ]:
%%sql 
CREATE TRIGGER update_hire_date
BEFORE INSERT ON employees
FOR EACH ROW
BEGIN
    IF NEW.hire_date IS NULL THEN
        SET NEW.hire_date = CURDATE();  
    END IF;
END;

 * mysql+pymysql://root:***@localhost:3307
0 rows affected.

[]

## Challenge 10: Drop a Table
**Question:**  
Drop the `employee_departments` table from the database.

In [34]:
%%sql 

DROP TABLE employee_departments;

 * mysql+pymysql://root:***@localhost:3307
0 rows affected.

[]