
# Exercise 3

This notebook contains exercises focusing on advanced SQL operations with relational tables. You will create tables, populate them with sample data, and run complex queries to test your SQL skills.

In [ ]:
# Install necessary packages
%pip install jupyter ipython-sql prettytable pymysql mysqlclient

# Load the ipython-sql extension
%load_ext sql

# Connect to the SQLite database | unix connection ip port | unix socket connection :: localhost = 127.0.0.1
%sql mysql+pymysql://root:secret@localhost:3306

# Configure ipython-sql to use a valid PrettyTable style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'



### Exercise 1: Create tables
| **Table Name**       | **Column Name**     | **Data Type**          | **Constraints**                             |
|-----------------------|---------------------|-------------------------|---------------------------------------------|
| **departments**       | `department_id`    | `INT`                  | `PRIMARY KEY`                               |
|                       | `department_name`  | `VARCHAR(255)`         | `NOT NULL`                                  |
| **employees**         | `employee_id`      | `INT`                  | `PRIMARY KEY`                               |
|                       | `first_name`       | `VARCHAR(255)`         | `NOT NULL`                                  |
|                       | `last_name`        | `VARCHAR(255)`         | `NOT NULL`                                  |
|                       | `department_id`    | `INT`                  | `FOREIGN KEY` references `departments`      |
|                       | `salary`           | `INT`                  | `NOT NULL`                                  |
|                       | `manager_id`       | `INT`                  | `FOREIGN KEY` references `employees`        |
| **projects**          | `project_id`       | `INT`                  | `PRIMARY KEY`                               |
|                       | `project_name`     | `VARCHAR(255)`         | `NOT NULL`                                  |
| **assignments**       | `assignment_id`    | `INT`                  | `PRIMARY KEY`                               |
|                       | `employee_id`      | `INT`                  | `FOREIGN KEY` references `employees`        |
|                       | `project_id`       | `INT`                  | `FOREIGN KEY` references `projects`         |
|                       | `role`             | `VARCHAR(255)`         |                                             |
|                       | `assignment_date`  | `DATE`                 |                                             |
|                       | `start_date`       | `DATE`                 |                                             |
|                       | `end_date`         | `DATE`                 |                                             |
| **assignment_logs**   | `log_id`           | `INT`                  | `AUTO_INCREMENT`, `PRIMARY KEY`             |
|                       | `assignment_id`    | `INT`                  |                                             |
|                       | `old_project_id`   | `INT`                  |                                             |
|                       | `new_project_id`   | `INT`                  |                                             |
|                       | `change_date`      | `DATETIME`             |                                             |

In [ ]:
%%sql

### Exercise 2: Populate the tables
### Departments
| Department ID | Department Name |
|---------------|-----------------|
| 1             | HR              |
| 2             | Engineering     |
| 3             | Marketing       |
| 4             | Finance         |

### Employees
| Employee ID | First Name | Last Name | Department ID | Salary  | Manager ID |
|-------------|------------|-----------|---------------|---------|------------|
| 1           | Alice      | Smith     | 2             | 80000   | NULL       |
| 2           | Bob        | Brown     | 2             | 75000   | 1          |
| 3           | Charlie    | Davis     | 1             | 60000   | NULL       |
| 4           | Dana       | Evans     | 3             | 70000   | 3          |
| 5           | Eve        | Williams  | 3             | 72000   | 3          |
| 6           | Frank      | Green     | 4             | 85000   | NULL       |
| 7           | Grace      | Taylor    | 4             | 80000   | 6          |
### Projects
| Project ID | Project Name |
|------------|--------------|
| 1          | Project A    |
| 2          | Project B    |
| 3          | Project C    |
| 4          | Project D    |
### Assignments

| Assignment ID | Employee ID | Project ID | Role               | Assignment Date | Start Date  | End Date    |
|---------------|-------------|------------|--------------------|-----------------|-------------|-------------|
| 1             | 1           | 1          | Team Lead          | 2024-01-01      | 2024-01-01  | 2024-06-01  |
| 2             | 1           | 2          | Developer          | 2024-02-01      | 2024-02-01  | 2024-07-01  |
| 3             | 2           | 2          | Developer          | 2024-02-15      | 2024-02-15  | 2024-08-15  |
| 4             | 3           | 3          | Coordinator        | 2024-03-01      | 2024-03-01  | 2024-09-01  |
| 5             | 4           | 3          | Marketer           | 2024-03-15      | 2024-03-15  | 2024-06-15  |
| 6             | 5           | 4          | Marketer           | 2024-04-01      | 2024-04-01  | 2024-07-01  |
| 7             | 6           | 4          | Financial Analyst  | 2024-04-15      | 2024-04-15  | 2024-10-15  |
| 8             | 7           | 4          | Financial Analyst  | 2024-05-01      | 2024-05-01  | 2024-08-01  |

In [ ]:
%%sql


### Exercise 3: Retrieve Employee Information
Retrieve the first name, last name, and department name of all employees.
| First Name | Last Name | Department Name |
|------------|-----------|-----------------|
| Alice      | Smith     | Engineering     |
| Bob        | Brown     | Engineering     |
| Charlie    | Davis     | HR              |
| Dana       | Evans     | Marketing       |
| Eve        | Williams  | Marketing       |
| Frank      | Green     | Finance         |
| Grace      | Taylor    | Finance         |

In [ ]:
%%sql

### Exercise 3: Count Employees per Department
Retrieve the number of employees in each department.
| Department Name | Employee Count |
|-----------------|----------------|
| HR              | 1              |
| Engineering     | 2              |
| Marketing       | 2              |
| Finance         | 2              |

In [ ]:
%%sql


### Exercise 4: Employees Without Projects
List the names of employees not assigned to any project.
| First Name | Last Name |
|------------|-----------|
| None       | None      |

In [ ]:
%%sql



### Exercise 5: Most Common Role
Find the most common role across all projects.
| Role               | Role Count |
|--------------------|------------|
| Developer          | 2          |

In [ ]:
%%sql

### Exercise 6: Employees on All Projects
Retrieve the names of employees who are assigned to all projects.
| First Name | Last Name |
|------------|-----------|
| Alice      | Brown     |

In [ ]:
%%sql