### Exercise 1: Import the required modules for working with SQLAlchemy.

### Exercise 2: Create a MySQL database connection using SQLAlchemy.
Connect to a MySQL database with the table users:


| **Field**    | **Data Type** | **Description**         | **Example**       |
|--------------|---------------|-------------------------|-------------------|
| Username     | String        | The username for login | `your_username`   |
| Password     | String        | The password for login | `your_password`   |
| Database     | String        | The name of the database | `your_database`  |

### Exercise 3: Define a table called `products` with the following columns:
 

| Column Name   | Data Type | Constraints        | Description                   |
|---------------|-----------|--------------------|-------------------------------|
| `product_id`  | Integer   | Primary Key        | Unique identifier for a product |
| `name`        | String(100) | Not Null         | Name of the product           |
| `price`       | Float     | Not Null          | Price of the product          |

### Exercise 4: Define a table called `orders` with the following columns:

| Column Name   | Data Type | Constraints                      | Description                              |
|---------------|-----------|----------------------------------|------------------------------------------|
| `order_id`    | Integer   | Primary Key                      | Unique identifier for an order           |
| `product_id`  | Integer   | Foreign Key (`products.product_id`) | References the product being ordered     |
| `quantity`    | Integer   | Not Null                         | Quantity of the product ordered

### Exercise 5: Insert the following rows into the `products` table: 
 

| `product_id` | `name`       | `price`  |
|--------------|--------------|----------|
| 1            | Laptop       | 1000.00  |
| 2            | Smartphone   | 500.00   |
| 3            | Tablet       | 300.00   |

### Exercise 6: Insert the following rows into the `orders` table: 
 

| `order_id` | `product_id` | `quantity` |
|------------|--------------|------------|
| 1          | 1            | 2          |
| 2          | 2            | 5          |
| 3          | 3            | 1          |

### Exercise 7: Query all products that have a price greater than 400.

### Exercise 8: Find all orders where the quantity is greater than 1 and fetch the corresponding product names.

### Exercise 9: Update the price of the product with `product_id=2` to `550.00`.

### Exercise 10: Delete orders where the quantity is less than 2.

### Exercise 11: Execute a raw SQL query to fetch all rows from the `products` table.

### Exercise 12: Execute a raw SQL query to calculate the total quantity of all orders.