### Exercise 1: Import the required modules for working with SQLAlchemy.

In [10]:
from sqlalchemy import create_engine, Table, Column, Integer, String, Float, ForeignKey, MetaData
from sqlalchemy.sql import text
from sqlalchemy.orm import sessionmaker

### Exercise 2: Create a MySQL database connection using SQLAlchemy.
Connect to a MySQL database with the table users:


| **Field**    | **Data Type** | **Description**         | **Example**       |
|--------------|---------------|-------------------------|-------------------|
| Username     | String        | The username for login | `your_username`   |
| Password     | String        | The password for login | `your_password`   |
| Database     | String        | The name of the database | `your_database`  |

In [ ]:
engine = create_engine('mysql+mysqlconnector://root:top!secret@127.0.0.1:3307/ex_2_1', echo=True)

### Exercise 3: Define a table called `products` with the following columns:
 

| Column Name   | Data Type | Constraints        | Description                   |
|---------------|-----------|--------------------|-------------------------------|
| `product_id`  | Integer   | Primary Key        | Unique identifier for a product |
| `name`        | String(100) | Not Null         | Name of the product           |
| `price`       | Float     | Not Null          | Price of the product          |

In [8]:
metadata = MetaData()
products_table = Table(
    "products",
    metadata,
    Column("product_id", Integer, primary_key=True),
    Column("name", String(100), nullable=False),
    Column("price", Float, nullable=False),
) 

metadata.create_all(engine)

2024-12-13 20:34:04,383 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-12-13 20:34:04,384 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-13 20:34:04,389 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-12-13 20:34:04,390 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-13 20:34:04,393 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-12-13 20:34:04,393 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-13 20:34:04,395 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-13 20:34:04,396 INFO sqlalchemy.engine.Engine DESCRIBE `ex_2_1`.`products`
2024-12-13 20:34:04,397 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-13 20:34:04,401 INFO sqlalchemy.engine.Engine
CREATE TABLE products (
	product_id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	price FLOAT NOT NULL,
	PRIMARY KEY (product_id)
)


2024-12-13 20:34:04,401 INFO sqlalchemy.engine.Engine [no key 0.00158s] {}
2024-12-13 20:34:04,425 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 4: Define a table called `orders` with the following columns:

| Column Name   | Data Type | Constraints                      | Description                              |
|---------------|-----------|----------------------------------|------------------------------------------|
| `order_id`    | Integer   | Primary Key                      | Unique identifier for an order           |
| `product_id`  | Integer   | Foreign Key (`products.product_id`) | References the product being ordered     |
| `quantity`    | Integer   | Not Null                         | Quantity of the product ordered

In [ ]:
orders_table = Table(
    "orders",
    metadata,
    Column("order_id", Integer, primary_key=True),
    Column("product_id", Integer, ForeignKey('products.product_id'), nullable=False),
    Column("quantity", Integer, nullable=False),
)

metadata.create_all(engine)

2024-12-13 20:37:56,546 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-13 20:37:56,547 INFO sqlalchemy.engine.Engine DESCRIBE `ex_2_1`.`products`
2024-12-13 20:37:56,548 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-13 20:37:56,551 INFO sqlalchemy.engine.Engine DESCRIBE `ex_2_1`.`orders`
2024-12-13 20:37:56,552 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-12-13 20:37:56,553 INFO sqlalchemy.engine.Engine
CREATE TABLE orders (
	order_id INTEGER NOT NULL AUTO_INCREMENT,
	product_id INTEGER NOT NULL,
	quantity INTEGER NOT NULL,
	PRIMARY KEY (order_id),
	FOREIGN KEY(product_id) REFERENCES products (product_id)
)


2024-12-13 20:37:56,554 INFO sqlalchemy.engine.Engine [no key 0.00104s] {}
2024-12-13 20:37:56,579 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 5: Insert the following rows into the `products` table: 
 

| `product_id` | `name`       | `price`  |
|--------------|--------------|----------|
| 1            | Laptop       | 1000.00  |
| 2            | Smartphone   | 500.00   |
| 3            | Tablet       | 300.00   |

In [12]:
# alternative 1
with engine.connect() as connection:
    connection.execute(products_table.insert().values(product_id=1, name='Laptop', price=1000.00))      # 1s record       | 1     | Laptop       | 1000.00  |
    connection.execute(products_table.insert().values(product_id=2, name='Smartphone', price=500.00))   # 2nd record      | 2     | Smartphone   | 500.00   |
    connection.execute(products_table.insert().values(product_id=3, name='Tablet', price=300.00))       # 3d record       | 3     | Tablet       | 300.00   |  
    connection.commit()
# # alternative 2 
# with engine.connect() as connection:
#     connection.execute(products_table.insert(), [
#         {'product_id': 1, 'name': 'Laptop', 'price': 1000.00}, # 1s record       | 1    | Laptop       | 1000.00  |
#         {'product_id': 2, 'name': 'SmartPhone', 'price': 500.00}, # 2nd record   | 2    | Smartphone   | 500.00   |
#         {'product_id': 3, 'name': 'Tablet', 'price': 300.00 } # 3d record        | 3    | Tablet       | 300.00   |  
#     ]
# )
   
# # alternative 3    
# with engine.connect() as connection:
#     connection.execute(
#         products_table.insert().values([
#             {'product_id': 1, 'name': 'Laptop', 'price': 1000.00},      # 1s record       | 1     | Laptop       | 1000.00  |
#             {'product_id': 2, 'name': 'Smartphone', 'price': 500.00},   # 2nd record      | 2     | Smartphone   | 500.00   |
#             {'product_id': 3, 'name': 'Tablet', 'price': 300.00},       # 3d record       | 3     | Tablet       | 300.00   |  
#         ])
#     )

# # alternative 4
# with engine.connect() as connection:
#     connection.execute(
#         text("INSERT INTO products (product_id, name, price) VALUES (:product_id, :name, :price)"),[
#          {'product_id': 1, 'name': 'Laptop', 'price': 1000.00},       # 1s record       | 1     | Laptop       | 1000.00  |
#          {'product_id': 2, 'name': 'Smartphone', 'price': 500.00},    # 2nd record      | 2     | Smartphone   | 500.00   |
#          {'product_id': 3, 'name': 'Tablet', 'price': 300.00}        # 3d record        | 3     | Tablet       | 300.00   |  
#          ]     
#     )
# # alternative 5, could be deprecated
# with engine.connect() as connection:
#     connection.executemany(
#         products_table.insert(),
#         [
#             {'product_id': 1, 'name': 'Laptop', 'price': 1000.00},       # 1s record       | 1     | Laptop       | 1000.00  |
#             {'product_id': 2, 'name': 'Smartphone', 'price': 500.00},    # 2nd record      | 2     | Smartphone   | 500.00   |
#             {'product_id': 3, 'name': 'Tablet', 'price': 300.00},        # 3d record       | 3     | Tablet       | 300.00   |  
#         ]
#     )

2024-12-13 20:52:17,949 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-13 20:52:17,950 INFO sqlalchemy.engine.Engine INSERT INTO products (product_id, name, price) VALUES (%(product_id)s, %(name)s, %(price)s)
2024-12-13 20:52:17,951 INFO sqlalchemy.engine.Engine [cached since 38.72s ago] {'product_id': 1, 'name': 'Laptop', 'price': 1000.0}
2024-12-13 20:52:17,953 INFO sqlalchemy.engine.Engine INSERT INTO products (product_id, name, price) VALUES (%(product_id)s, %(name)s, %(price)s)
2024-12-13 20:52:17,953 INFO sqlalchemy.engine.Engine [cached since 38.73s ago] {'product_id': 2, 'name': 'Smartphone', 'price': 500.0}
2024-12-13 20:52:17,956 INFO sqlalchemy.engine.Engine INSERT INTO products (product_id, name, price) VALUES (%(product_id)s, %(name)s, %(price)s)
2024-12-13 20:52:17,956 INFO sqlalchemy.engine.Engine [cached since 38.73s ago] {'product_id': 3, 'name': 'Tablet', 'price': 300.0}
2024-12-13 20:52:17,957 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 6: Insert the following rows into the `orders` table: 
 

| `order_id` | `product_id` | `quantity` |
|------------|--------------|------------|
| 1          | 1            | 2          |
| 2          | 2            | 5          |
| 3          | 3            | 1          |

In [13]:
with engine.connect() as connection:
    connection.execute(orders_table.insert().values(order_id=1, product_id=1, quantity=2)) # 1st record | 1  | 1   | 2 |
    connection.execute(orders_table.insert().values(order_id=2, product_id=2, quantity=5)) # 2nd record | 2  | 2   | 5 |
    connection.execute(orders_table.insert().values(order_id=3, product_id=3, quantity=1)) # 3d record  | 3  | 3   | 1 |
    connection.commit()

2024-12-13 20:52:49,461 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-13 20:52:49,462 INFO sqlalchemy.engine.Engine INSERT INTO orders (order_id, product_id, quantity) VALUES (%(order_id)s, %(product_id)s, %(quantity)s)
2024-12-13 20:52:49,463 INFO sqlalchemy.engine.Engine [generated in 0.00218s] {'order_id': 1, 'product_id': 1, 'quantity': 2}
2024-12-13 20:52:49,465 INFO sqlalchemy.engine.Engine INSERT INTO orders (order_id, product_id, quantity) VALUES (%(order_id)s, %(product_id)s, %(quantity)s)
2024-12-13 20:52:49,465 INFO sqlalchemy.engine.Engine [cached since 0.005052s ago] {'order_id': 2, 'product_id': 2, 'quantity': 5}
2024-12-13 20:52:49,467 INFO sqlalchemy.engine.Engine INSERT INTO orders (order_id, product_id, quantity) VALUES (%(order_id)s, %(product_id)s, %(quantity)s)
2024-12-13 20:52:49,468 INFO sqlalchemy.engine.Engine [cached since 0.007418s ago] {'order_id': 3, 'product_id': 3, 'quantity': 1}
2024-12-13 20:52:49,469 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 7: Query all products that have a price greater than 400.

In [15]:
with engine.connect() as connection:
    rows = connection.execute(products_table.select().where(products_table.c.price > 400))
    for row in rows:
        display(row)

2024-12-13 20:54:39,805 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-13 20:54:39,806 INFO sqlalchemy.engine.Engine SELECT products.product_id, products.name, products.price
FROM products
WHERE products.price > %(price_1)s
2024-12-13 20:54:39,807 INFO sqlalchemy.engine.Engine [cached since 3.353s ago] {'price_1': 400}

(1, 'Laptop', 1000.0)

(2, 'Smartphone', 500.0)

2024-12-13 20:54:39,811 INFO sqlalchemy.engine.Engine ROLLBACK

### Exercise 8: Find all orders where the quantity is greater than 1 and fetch the corresponding product names.

In [ ]:
from sqlalchemy.sql import select
# alternative 1
with engine.connect() as connection:
    stmt = (
    
        # SELECT   orders.order_id,   products.name,   orders.quantity FROM ORDER
        select(orders_table.c.order_id, products_table.c.name, orders_table.c.quantity)
        #  JOIN  products  ON  orders.product_id = products.product_id
        .join_from(orders_table, products_table, orders_table.c.product_id == products_table.c.product_id)
        # WHERE  orders.quantity > 1;
        .where(orders_table.c.quantity > 1)
    )
    
    rows = connection.execute(stmt)
    for row in rows:
        display(row)
        
# alternative 2
with engine.connect() as connection:
    query = text(""" 
    SELECT 
        orders.order_id, 
        products.name, 
        orders.quantity
    FROM 
        orders
    JOIN 
        products 
    ON 
        orders.product_id = products.product_id
    WHERE 
        orders.quantity > 1;
    """)
    rows = connection.execute(query)
    
    for row in rows:
        display(row)

2024-12-13 21:06:34,435 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-13 21:06:34,435 INFO sqlalchemy.engine.Engine SELECT orders.order_id, products.name, orders.quantity
FROM orders INNER JOIN products ON orders.product_id = products.product_id
WHERE orders.quantity > %(quantity_1)s
2024-12-13 21:06:34,436 INFO sqlalchemy.engine.Engine [cached since 272.1s ago] {'quantity_1': 1}

(1, 'Laptop', 2)

(2, 'Smartphone', 5)

2024-12-13 21:06:34,442 INFO sqlalchemy.engine.Engine ROLLBACK
2024-12-13 21:06:34,446 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-13 21:06:34,447 INFO sqlalchemy.engine.Engine
    SELECT
        orders.order_id,
        products.name,
        orders.quantity
    FROM
        orders
    JOIN
        products
    ON
        orders.product_id = products.product_id
    WHERE
        orders.quantity > 1;

2024-12-13 21:06:34,448 INFO sqlalchemy.engine.Engine [generated in 0.00274s] {}

(1, 'Laptop', 2)

(2, 'Smartphone', 5)

2024-12-13 21:06:34,452 INFO sqlalchemy.engine.Engine ROLLBACK

### Exercise 9: Update the price of the product with `product_id=2` to `550.00`.

In [21]:
with engine.connect() as connection: 
    connection.execute(
        #  UPDATE products
        products_table.update()
        # WHERE  product_id = 2;
        .where(products_table.c.product_id == 2)
        # SET price = 550.00
        .values(price=550.00))
    connection.commit()

2024-12-13 21:11:40,850 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-13 21:11:40,851 INFO sqlalchemy.engine.Engine UPDATE products SET price=%(price)s WHERE products.product_id = %(product_id_1)s
2024-12-13 21:11:40,851 INFO sqlalchemy.engine.Engine [cached since 15.39s ago] {'price': 550.0, 'product_id_1': 2}
2024-12-13 21:11:40,853 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 10: Delete orders where the quantity is less than 2.

In [23]:
with engine.connect() as connection:
    connection.execute(orders_table.delete().where(orders_table.c.quantity < 2))
    connection.commit()

2024-12-13 21:14:08,138 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-13 21:14:08,140 INFO sqlalchemy.engine.Engine DELETE FROM orders WHERE orders.quantity < %(quantity_1)s
2024-12-13 21:14:08,140 INFO sqlalchemy.engine.Engine [cached since 7.436s ago] {'quantity_1': 2}
2024-12-13 21:14:08,142 INFO sqlalchemy.engine.Engine COMMIT

### Exercise 11: Execute a raw SQL query to fetch all rows from the `products` table.

In [ ]:
from sqlalchemy.sql import select
with engine.connect() as connection: 
    rows = connection.execute(select(products_table)) # SELECT * FROM products
    # rows = connection.execute(text("SELECT * FROM products"))
    for row in rows:
        display(row)

2024-12-13 21:17:10,115 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-13 21:17:10,115 INFO sqlalchemy.engine.Engine SELECT products.product_id, products.name, products.price
FROM products
2024-12-13 21:17:10,115 INFO sqlalchemy.engine.Engine [cached since 35.3s ago] {}
2024-12-13 21:17:10,117 INFO sqlalchemy.engine.Engine SELECT * FROM products
2024-12-13 21:17:10,118 INFO sqlalchemy.engine.Engine [generated in 0.00124s] {}

(1, 'Laptop', 1000.0)

(2, 'Smartphone', 550.0)

(3, 'Tablet', 300.0)

2024-12-13 21:17:10,123 INFO sqlalchemy.engine.Engine ROLLBACK

### Exercise 12: Execute a raw SQL query to calculate the total quantity of all orders.

In [ ]:
from sqlalchemy.sql import select, func
with engine.connect() as connection:
    rows = connection.execute(select(func.sum(orders_table.c.quantity))) # SELECT SUM(quantity) FROM orders
    # rows = connection.execute(text("SELECT SUM(quantity) FROM orders"))
    for rows in row:
        display(row)

2024-12-13 21:20:16,514 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-13 21:20:16,514 INFO sqlalchemy.engine.Engine SELECT SUM(quantity) FROM orders
2024-12-13 21:20:16,515 INFO sqlalchemy.engine.Engine [generated in 0.00213s] {}

(3, 'Tablet', 300.0)

(3, 'Tablet', 300.0)

(3, 'Tablet', 300.0)

2024-12-13 21:20:16,520 INFO sqlalchemy.engine.Engine ROLLBACK