# SQL DML (Data Manipulation Language) - Complete Lesson

This lesson provides a detailed introduction to SQL Data Manipulation Language (DML) using SQLite. It covers the essential DML commands with explanations, examples, and code snippets.

Make sure to run the setup code below to install necessary packages, load the `ipython-sql` extension, and connect to the database.

In [ ]:
# Install necessary packages
%pip install jupyter ipython-sql mysql-connector-python sqlalchemy pymysql prettytable cryptography

# Load the ipython-sql extension
%load_ext sql

# Connect to the postgres database  
%sql mysql+pymysql://root:root@localhost:3308/mydatabase

# Configure ipython-sql to use a valid PrettyTable style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\atew\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.5.0)
Requirement already satisfied: mysql-connector-python in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (9.1.0)
Requirement already satisfied: sqlalchemy in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.36)
Requirement already satisfied: pymysql in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.1.1)
Requirement already satisfied: prettytable in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.12.0)
Requirement already satisfied: ipython in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlparse in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: wcwidth in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: decorator in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Traceback (most recent call last):
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\pymysql\connections.py", line 649, in connect
    sock = socket.create_connection(
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.12_3.12.2032.0_x64__qbz5n2kfra8p0\Lib\socket.py", line 865, in create_connection
    raise exceptions[0]
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.12_3.12.2032.0_x64__qbz5n2kfra8p0\Lib\socket.py", line 850, in create_connection
    sock.connect(sa)
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\engine\base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\engine\base.py", line 3302, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 1263, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 712, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\impl.py", line 179, in _do_get
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\impl.py", line 177, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 674, in __init__
    self.__connect()
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 900, in __connect
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 896, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\engine\create.py", line 643, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\engine\default.py", line 621, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\pymysql\connections.py", line 361, in __init__
    self.connect()
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\pymysql\connections.py", line 716, in connect
    raise exc
pymysql.err.OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] No connection could be made because the target machine actively refused it)")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
                               ^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\engine\base.py", line 3278, in connect
    return self._connection_cls(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\engine\base.py", line 148, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\engine\base.py", line 2442, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\engine\base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\engine\base.py", line 3302, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 1263, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 712, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\impl.py", line 179, in _do_get
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\impl.py", line 177, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 674, in __init__
    self.__connect()
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 900, in __connect
    with util.safe_reraise():
         ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\pool\base.py", line 896, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\engine\create.py", line 643, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sqlalchemy\engine\default.py", line 621, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\pymysql\connections.py", line 361, in __init__
    self.connect()
  File "C:\Users\atew\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\pymysql\connections.py", line 716, in connect
    raise exc
sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] No connection could be made because the target machine actively refused it)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Introduction to DML
SQL DML (Data Manipulation Language) is used to manipulate data within database tables. DML commands include:
- `INSERT`: Adds new records to a table.
- `UPDATE`: Modifies existing records in a table.
- `DELETE`: Removes records from a table.
- `SELECT`: Retrieves data from one or more tables.

In this lesson, we will go through each of these commands with examples.

## INSERT Statement
The `INSERT` statement is used to add new rows to a table.

### Syntax:
```sql
INSERT INTO table_name (column1, column2, ...)
VALUES (value1, value2, ...);
```

### Example: Adding Data to the Employees Table

In [ ]:
%%sql
DROP TABLE IF EXISTS employees;
CREATE TABLE employees (
    employee_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    hire_date DATE,
    salary REAL
);

INSERT INTO employees (first_name, last_name, hire_date, salary)
VALUES ('Alice', 'Johnson', '2023-01-15', 60000),
       ('Bob', 'Smith', '2023-02-10', 75000),
       ('Charlie', 'Brown', '2023-03-05', 50000);

## UPDATE Statement
The `UPDATE` statement is used to modify existing records in a table.

### Syntax:
```sql
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;
```

### Example: Updating Employee Salary

In [ ]:
%%sql
UPDATE employees
SET salary = 80000
WHERE first_name = 'Alice';

## DELETE Statement
The `DELETE` statement is used to remove records from a table.

### Syntax:
```sql
DELETE FROM table_name
WHERE condition;
```

### Example: Deleting a Record

In [ ]:
%%sql
DELETE FROM employees
WHERE last_name = 'Brown';

## SELECT Statement
The `SELECT` statement is used to query data from one or more tables.

### Syntax:
```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

### Example: Querying Employee Data

In [ ]:
%%sql
SELECT * FROM employees;

## Transaction Control
DML commands are often used with transaction control commands like `COMMIT` and `ROLLBACK` to ensure data integrity.

### Example: Using Transactions

In [ ]:
%%sql
BEGIN TRANSACTION;
UPDATE employees SET salary = 90000 WHERE first_name = 'Bob';
ROLLBACK; -- Reverts the change

SELECT * FROM employees;

## Summary of DML Commands
- **INSERT** is used to add new records.
- **UPDATE** is used to modify existing records.
- **DELETE** is used to remove records.
- **SELECT** is used to query and retrieve data.
- Transaction control commands like **COMMIT** and **ROLLBACK** help maintain data integrity.

Understanding these DML commands will allow you to effectively manage and query data within your database.

## Advanced SELECT Queries
In addition to basic `SELECT` statements, SQL provides powerful features for complex querying, such as:
- **JOINs**: Combine data from multiple tables.
- **UNION**: Combine the results of two or more `SELECT` statements.
- **GROUP BY**: Aggregate data based on specific columns.
- **ORDER BY**: Sort the result set.
- **HAVING**: Filter groups after aggregation.

### Example 1: INNER JOIN
The `INNER JOIN` clause selects records with matching values in both tables.

In [ ]:
%%sql
DROP TABLE IF EXISTS departments;
CREATE TABLE departments (
    department_id INTEGER PRIMARY KEY,
    department_name TEXT NOT NULL
);

INSERT INTO departments (department_name)
VALUES ('Sales'), ('Engineering'), ('HR');

DROP TABLE IF EXISTS employee_departments;
CREATE TABLE employee_departments (
    id INTEGER PRIMARY KEY,
    employee_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (employee_id) REFERENCES employees(employee_id),
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

INSERT INTO employee_departments (employee_id, department_id)
VALUES (1, 1), (2, 2), (3, 3);

SELECT e.first_name, e.last_name, d.department_name
FROM employees e
INNER JOIN employee_departments ed ON e.employee_id = ed.employee_id
INNER JOIN departments d ON ed.department_id = d.department_id;

### Example 2: LEFT JOIN
The `LEFT JOIN` clause returns all records from the left table and matched records from the right table.

In [ ]:
%%sql
SELECT e.first_name, e.last_name, d.department_name
FROM employees e
LEFT JOIN employee_departments ed ON e.employee_id = ed.employee_id
LEFT JOIN departments d ON ed.department_id = d.department_id;

### Example 3: UNION
The `UNION` operator is used to combine the results of two or more `SELECT` statements. It removes duplicate records by default.

In [ ]:
%%sql
SELECT first_name, last_name FROM employees WHERE salary > 60000
UNION
SELECT first_name, last_name FROM employees WHERE hire_date < '2023-02-01';

### Example 4: GROUP BY and Aggregate Functions
The `GROUP BY` clause groups rows that have the same values into summary rows. It is often used with aggregate functions like `COUNT`, `SUM`, `AVG`, `MIN`, and `MAX`.

In [ ]:
%%sql
SELECT department_id, COUNT(employee_id) AS num_employees
FROM employee_departments
GROUP BY department_id;

### Example 5: HAVING Clause
The `HAVING` clause is used to filter records after `GROUP BY` based on aggregate values.

In [ ]:
%%sql
SELECT department_id, COUNT(employee_id) AS num_employees
FROM employee_departments
GROUP BY department_id
HAVING num_employees > 1;

### Example 6: ORDER BY
The `ORDER BY` clause is used to sort the result set in ascending (`ASC`) or descending (`DESC`) order.

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
ORDER BY salary DESC;

## Summary of Advanced SELECT Queries
- **JOINs** allow combining data from multiple tables based on related columns.
- **UNION** combines results from multiple `SELECT` statements, removing duplicates by default.
- **GROUP BY** groups rows for aggregation, often used with aggregate functions.
- **HAVING** filters groups based on aggregate values.
- **ORDER BY** sorts the result set based on one or more columns.

Mastering these advanced SQL queries will enable you to handle complex data retrieval tasks efficiently.

## Column Aliases (AS)
The `AS` keyword is used to rename a column or expression in the result set. This is helpful for improving the readability of the output.

### Syntax:
```sql
SELECT column_name AS alias_name
FROM table_name;
```

### Example: Using Column Aliases

In [ ]:
%%sql
SELECT first_name AS 'First Name',
       last_name AS 'Last Name',
       salary AS 'Annual Salary'
FROM employees;

## Table Aliases
Table aliases are used to give a table a temporary name, making complex queries easier to read and write, especially when joining tables.

### Syntax:
```sql
SELECT a.column1, b.column2
FROM table_name AS a
JOIN another_table AS b ON a.id = b.id;
```

### Example: Using Table Aliases

In [ ]:
%%sql
SELECT e.first_name, e.last_name, d.department_name
FROM employees AS e
JOIN employee_departments AS ed ON e.employee_id = ed.employee_id
JOIN departments AS d ON ed.department_id = d.department_id;

## Conditional Expressions (CASE)
The `CASE` statement is used to create conditional logic in SQL queries, similar to if-else statements in programming languages.

### Syntax:
```sql
SELECT column,
       CASE
           WHEN condition1 THEN result1
           WHEN condition2 THEN result2
           ELSE default_result
       END AS alias_name
FROM table_name;
```

### Example: Using CASE for Conditional Logic

In [ ]:
%%sql
SELECT first_name,
       last_name,
       CASE
           WHEN salary > 70000 THEN 'High Salary'
           WHEN salary BETWEEN 50000 AND 70000 THEN 'Medium Salary'
           ELSE 'Low Salary'
       END AS salary_level
FROM employees;

## DISTINCT Keyword
The `DISTINCT` keyword is used to return only distinct (unique) values in the result set.

### Syntax:
```sql
SELECT DISTINCT column_name
FROM table_name;
```

### Example: Using DISTINCT

In [ ]:
%%sql
SELECT DISTINCT department_id
FROM employee_departments;

## LIMIT and OFFSET
The `LIMIT` clause is used to specify the maximum number of records to return, while `OFFSET` specifies the number of records to skip.

### Syntax:
```sql
SELECT column_name
FROM table_name
LIMIT number OFFSET number;
```

### Example: Using LIMIT and OFFSET

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
ORDER BY salary DESC
LIMIT 2 OFFSET 1;

## Summary of Additional Features
- **AS** is used to create column aliases for better readability.
- **Table aliases** simplify complex queries involving multiple tables.
- **CASE** provides conditional logic within SQL queries.
- **DISTINCT** ensures only unique values are returned.
- **LIMIT** and **OFFSET** control the number of records returned and skipped, respectively.

These features enhance the flexibility and power of your SQL queries, making it easier to extract meaningful insights from your data.

## Using the WHERE Clause
The `WHERE` clause is used to filter records based on specified conditions. It is one of the most powerful parts of SQL, allowing you to extract only the rows that meet certain criteria.

### Syntax:
```sql
SELECT column1, column2
FROM table_name
WHERE condition;
```

### Example: Basic WHERE Clause

In [ ]:
%%sql
SELECT *
FROM employees
WHERE salary > 60000;

## Using AND, OR, and NOT Operators
The `AND`, `OR`, and `NOT` operators are used to combine multiple conditions in the `WHERE` clause.

- **AND**: Returns true if **both** conditions are true.
- **OR**: Returns true if **at least one** of the conditions is true.
- **NOT**: Reverses the result of the condition.

### Example 1: Using AND Operator

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
WHERE salary > 60000 AND hire_date < '2023-03-01';

### Example 2: Using OR Operator

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
WHERE salary < 50000 OR hire_date > '2023-03-01';

### Example 3: Using NOT Operator

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
WHERE NOT salary = 75000;

## Using IN, BETWEEN, and LIKE
Additional operators like `IN`, `BETWEEN`, and `LIKE` provide more flexibility for filtering data.

- **IN**: Checks if a value matches any value in a list.
- **BETWEEN**: Selects values within a specified range (inclusive).
- **LIKE**: Searches for a specified pattern using wildcard characters (`%` for any sequence of characters, `_` for a single character).

### Example 4: Using IN Operator

In [ ]:
%%sql
SELECT first_name, last_name, department_id
FROM employees e
JOIN employee_departments ed ON e.employee_id = ed.employee_id
WHERE department_id IN (1, 2);

### Example 5: Using BETWEEN Operator

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
WHERE salary BETWEEN 50000 AND 80000;

### Example 6: Using LIKE Operator

In [ ]:
%%sql
SELECT first_name, last_name
FROM employees
WHERE first_name LIKE 'A%'; -- Names starting with 'A'

## Using IS NULL and IS NOT NULL
The `IS NULL` and `IS NOT NULL` operators are used to check for null (missing) values in a column.

### Example 7: Checking for NULL Values

In [ ]:
%%sql
SELECT first_name, last_name, email
FROM employees
WHERE email IS NULL;

## Summary of WHERE Clause and Operators
- **WHERE** filters records based on specified conditions.
- **AND**, **OR**, and **NOT** are used to combine multiple conditions.
- **IN**, **BETWEEN**, and **LIKE** provide flexible filtering options.
- **IS NULL** and **IS NOT NULL** help check for missing values.

Mastering these operators will allow you to perform complex filtering and data retrieval tasks efficiently.

# Detailed Lesson: WHERE Clause in SQL

The `WHERE` clause in SQL is used to filter records returned by a query based on specified conditions. It is one of the most powerful and frequently used clauses in SQL, enabling precise data retrieval.

### Why Use the WHERE Clause?
- To **filter data** and return only rows that meet certain criteria.
- To **apply conditions** in combination with other SQL commands like `SELECT`, `UPDATE`, and `DELETE`.
- To **improve query performance** by narrowing down the result set early in the execution process.

## Basic Syntax of the WHERE Clause
```sql
SELECT column1, column2
FROM table_name
WHERE condition;
```

### Example:
Retrieve all employees with a salary greater than $60,000.

In [ ]:
%%sql
SELECT *
FROM employees
WHERE salary > 60000;

## Combining Conditions with AND, OR, and NOT

### AND Operator
- The `AND` operator is used to combine multiple conditions. It returns true only if **all conditions** are true.

### Example:
Find employees with a salary above $60,000 and hired before March 1, 2023.

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
WHERE salary > 60000 AND hire_date < '2023-03-01';

### OR Operator
- The `OR` operator returns true if **any one** of the conditions is true.

### Example:
Find employees who earn less than $50,000 or were hired after March 1, 2023.

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
WHERE salary < 50000 OR hire_date > '2023-03-01';

### NOT Operator
- The `NOT` operator is used to reverse the result of a condition.

### Example:
Find employees whose salary is not $75,000.

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
WHERE NOT salary = 75000;

## Using Advanced Operators: IN, BETWEEN, and LIKE

### IN Operator
- The `IN` operator checks if a value is present in a list of values.

### Example:
Find employees who belong to department 1 or 2.

In [ ]:
%%sql
SELECT first_name, last_name, department_id
FROM employees e
JOIN employee_departments ed ON e.employee_id = ed.employee_id
WHERE department_id IN (1, 2);

### BETWEEN Operator
- The `BETWEEN` operator is used to select values within a specified range.

### Example:
Find employees with a salary between $50,000 and $80,000.

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
WHERE salary BETWEEN 50000 AND 80000;

### LIKE Operator
- The `LIKE` operator is used for pattern matching with strings.
- Use `%` as a wildcard for any sequence of characters, and `_` as a wildcard for a single character.

### Example:
Find employees whose first name starts with 'A'.

In [ ]:
%%sql
SELECT first_name, last_name
FROM employees
WHERE first_name LIKE 'A%';

## Summary of the WHERE Clause
- The `WHERE` clause is essential for filtering data based on specified conditions.
- Using operators like `AND`, `OR`, `NOT`, `IN`, `BETWEEN`, and `LIKE` allows for flexible and precise data retrieval.
- Combining multiple conditions can help you refine your queries to extract exactly the data you need.

Understanding the power of the `WHERE` clause and its operators is fundamental for effective SQL querying.