# SQLite DDL Code Challenges

This notebook contains a series of SQLite DDL (Data Definition Language) exercises to help you practice creating and managing database schemas. For each exercise, read the question in the markdown cell, and then execute the provided SQL cell to complete the challenge.

Make sure to run the setup code below to install necessary packages, load the `ipython-sql` extension, and connect to the database.

In [ ]:
# Install necessary packages
%pip install jupyter ipython-sql prettytable

# Load the ipython-sql extension
%load_ext sql

# Connect to the SQLite database
%sql sqlite:///test.db

## Challenge 1: Create a Table
**Question:**  
Create a table named `employees` with the following columns:
- `employee_id` (INTEGER): Primary Key
- `first_name` (TEXT): First name of the employee
- `last_name` (TEXT): Last name of the employee
- `hire_date` (DATE): Date when the employee was hired

In [ ]:
%%sql

## Challenge 2: Create a Table with Foreign Keys
**Question:**  
Create a table named `departments` and another table named `employee_departments` with a foreign key relationship:
- `departments` table:
  - `department_id` (INTEGER): Primary Key
  - `department_name` (TEXT): Name of the department
- `employee_departments` table:
  - `id` (INTEGER): Primary Key
  - `employee_id` (INTEGER): Foreign Key referencing `employees.employee_id`
  - `department_id` (INTEGER): Foreign Key referencing `departments.department_id`

In [ ]:
%%sql

## Challenge 3: Alter Table
**Question:**  
Add a new column `email` (TEXT) to the `employees` table.

In [ ]:
%%sql

## Challenge 4: Drop a Column (Workaround in SQLite)
**Question:**  
Drop the `email` column from the `employees` table. (SQLite does not support dropping columns directly.)

In [ ]:
%%sql

## Challenge 5: Create an Index
**Question:**  
Create an index on the `last_name` column of the `employees` table to speed up search queries.

In [ ]:
%%sql

## Challenge 6: Drop an Index
**Question:**  
Drop the index `idx_last_name` from the `employees` table.

In [ ]:
%%sql

## Challenge 7: Add a Unique Constraint
**Question:**  
Alter the `departments` table to add a unique constraint on the `department_name` column.

In [ ]:
%%sql

## Challenge 8: Create a View
**Question:**  
Create a view named `employee_details` that displays the employeeâ€™s first name, last name, hire date, and department name.

In [ ]:
%%sql

## Challenge 9: Create a Trigger
**Question:**  
Create a trigger named `update_hire_date` that updates the `hire_date` to the current date whenever a new row is inserted into the `employees` table with a NULL `hire_date`.

In [ ]:
%%sql

## Challenge 10: Drop a Table
**Question:**  
Drop the `employee_departments` table from the database.

In [ ]:
%%sql