# SQL DQL (Data Query Language) - Complete Lesson

This lesson provides a detailed introduction to SQL Data Query Language (DQL) using SQLite. DQL focuses on the `SELECT` statement and its associated features for querying and retrieving data from databases.

Make sure to run the setup code below to install necessary packages, load the `ipython-sql` extension, and connect to the database.

In [ ]:
# Install necessary packages
%pip install jupyter ipython-sql

# Load the ipython-sql extension
%load_ext sql

# Connect to the SQLite database
%sql sqlite:///dql.db

# Configure ipython-sql to use a valid PrettyTable style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## 1. Introduction to DQL
DQL (Data Query Language) is a subset of SQL focused on querying and retrieving data. The primary command in DQL is `SELECT`, which is used to extract data from one or more tables based on specific conditions.

In this lesson, we will cover the various features and clauses of the `SELECT` statement.

## 2. Basic SELECT Statement
The `SELECT` statement is used to query data from a database table.

### Syntax:
```sql
SELECT column1, column2
FROM table_name;
```

### Example:
Retrieve all columns from the `employees` table.

In [ ]:
%%sql
SELECT *
FROM employees;

## 3. Using Column Aliases (AS)
Column aliases are used to rename columns in the result set for better readability.

### Example:
Rename the columns in the `employees` table output.

In [ ]:
%%sql
DROP TABLE IF EXISTS employees;
CREATE TABLE employees (
    employee_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    hire_date DATE,
    salary REAL
);
SELECT first_name AS 'First Name',
       last_name AS 'Last Name',
       salary AS 'Annual Salary'
FROM employees;

## 4. Filtering Data with WHERE
The `WHERE` clause is used to filter records based on specified conditions.

### Example:
Retrieve employees with a salary greater than $60,000.

In [ ]:
%%sql
SELECT *
FROM employees
WHERE salary > 60000;

## 5. Sorting Data with ORDER BY
The `ORDER BY` clause is used to sort the result set in ascending (`ASC`) or descending (`DESC`) order.

### Example:
Sort employees by salary in descending order.

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
ORDER BY salary DESC;

## 6. Using DISTINCT for Unique Values
The `DISTINCT` keyword is used to return only unique values.

### Example:
Retrieve unique department IDs from the `employee_departments` table.

In [ ]:
%%sql
SELECT DISTINCT department_id
FROM employee_departments;

## 7. Using LIMIT and OFFSET for Pagination
The `LIMIT` clause specifies the maximum number of records to return, and `OFFSET` specifies the number of records to skip.

### Example:
Retrieve the top 2 highest-paid employees, skipping the first result.

In [ ]:
%%sql
SELECT first_name, last_name, salary
FROM employees
ORDER BY salary DESC
LIMIT 2 OFFSET 1;

## 8. Aggregate Functions (COUNT, SUM, AVG, MIN, MAX)
Aggregate functions perform calculations on a set of values and return a single value.

### Example:
Calculate the total salary and the average salary of all employees.

In [ ]:
%%sql
SELECT SUM(salary) AS 'Total Salary',
       AVG(salary) AS 'Average Salary'
FROM employees;

## 9. GROUP BY and HAVING Clauses
The `GROUP BY` clause groups rows based on a specified column, and the `HAVING` clause filters groups after aggregation.

### Example:
Count the number of employees in each department.

In [ ]:
%%sql
SELECT department_id, COUNT(employee_id) AS 'Employee Count'
FROM employee_departments
GROUP BY department_id;

## 10. Using Joins in SQL
Joins are used to combine rows from two or more tables based on related columns.

### Types of Joins:
- **INNER JOIN**: Returns only the rows with matching values in both tables.
- **LEFT JOIN**: Returns all rows from the left table and matching rows from the right table (or NULL if no match).
- **RIGHT JOIN**: Returns all rows from the right table and matching rows from the left table (or NULL if no match).
- **FULL OUTER JOIN**: Returns all rows when there is a match in one of the tables.

### Example: INNER JOIN
Retrieve the first name, last name, and department name of all employees.

In [ ]:
%%sql
SELECT e.first_name, e.last_name, d.department_name
FROM employees e
INNER JOIN employee_departments ed ON e.employee_id = ed.employee_id
INNER JOIN departments d ON ed.department_id = d.department_id;

### Example: LEFT JOIN
Retrieve all employees and their department names, including employees who do not belong to any department.

In [ ]:
%%sql
SELECT e.first_name, e.last_name, d.department_name
FROM employees e
LEFT JOIN employee_departments ed ON e.employee_id = ed.employee_id
LEFT JOIN departments d ON ed.department_id = d.department_id;

## 11. UNION Operator
The `UNION` operator is used to combine the results of two or more `SELECT` statements. It removes duplicate records by default.

### Example:
Retrieve a list of all first names of employees who either have a salary above $70,000 or were hired after March 1, 2023.

In [ ]:
%%sql
SELECT first_name
FROM employees
WHERE salary > 70000
UNION
SELECT first_name
FROM employees
WHERE hire_date > '2023-03-01';

## 12. Subqueries and Nested Queries
A subquery is a query nested inside another query. It is used to retrieve data that will be used in the main query as a condition.

### Example:
Retrieve the first name and salary of employees whose salary is above the average salary of all employees.

In [ ]:
%%sql
SELECT first_name, salary
FROM employees
WHERE salary > (SELECT AVG(salary) FROM employees);

## 13. Using CASE for Conditional Expressions
The `CASE` statement is used to create conditional logic in SQL queries, similar to if-else statements in programming.

### Example:
Classify employees based on their salary levels.

In [ ]:
%%sql
SELECT first_name, last_name,
       CASE
           WHEN salary >= 80000 THEN 'High Salary'
           WHEN salary BETWEEN 50000 AND 79999 THEN 'Medium Salary'
           ELSE 'Low Salary'
       END AS salary_level
FROM employees;

## 14. Advanced Aggregate Functions
Aggregate functions like `COUNT`, `SUM`, `AVG`, `MIN`, and `MAX` are used to perform calculations on a set of values.

### Example:
Find the minimum, maximum, and average salary of employees.

In [ ]:
%%sql
SELECT MIN(salary) AS 'Minimum Salary',
       MAX(salary) AS 'Maximum Salary',
       AVG(salary) AS 'Average Salary'
FROM employees;

## 15. Summary of DQL Features
- The `SELECT` statement is the foundation of DQL, used for querying data from tables.
- Joins (`INNER JOIN`, `LEFT JOIN`, etc.) allow combining data from multiple tables.
- The `UNION` operator combines results from multiple queries.
- Subqueries provide a way to include results from one query within another.
- The `CASE` statement enables conditional logic in SQL queries.
- Aggregate functions and grouping (`GROUP BY`, `HAVING`) help in summarizing data.

Mastering these features will give you a strong ability to retrieve and manipulate data effectively in SQL.