
### **Jupyter Notebook Tutorial on Joins in SQL**

In [ ]:
# Install necessary packages
%pip install --upgrade prettytable ipython-sql

# Load the ipython-sql extension
%load_ext sql
 
# Connect to the SQLite database
%sql sqlite:///join.sqlite

# Configure ipython-sql to use a valid PrettyTable style
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: prettytable in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.12.0)
Requirement already satisfied: ipython-sql in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.5.0)
Requirement already satisfied: wcwidth in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: ipython in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: decorator in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\atew\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\atew\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip


### **Step 1: Create Tables**
#### Explanation:
We will create two tables:
1. **`employees`**: Contains employee details, including `emp_id`, `name`, `department_id`, and `salary`.
2. **`departments`**: Contains department details, including `dept_id` and `dept_name`.

In [2]:
%%sql
DROP TABLE IF EXISTS employees;
DROP TABLE IF EXISTS departments;

CREATE TABLE departments (
    dept_id INTEGER PRIMARY KEY,
    dept_name TEXT NOT NULL
);

CREATE TABLE employees (
    emp_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    department_id INTEGER,
    salary INTEGER,
    FOREIGN KEY (department_id) REFERENCES departments(dept_id) ON DELETE SET NULL
);

 * sqlite:///join.sqlite
Done.
Done.
Done.
Done.

[]


### **Step 2: Insert Data into Tables**
#### Explanation:
We will populate the tables with sample data.

**Employees Table:**
- Alice belongs to the HR department (101).
- Bob belongs to the Engineering department (102).
- Charlie does not belong to any department.
- Diana belongs to the Marketing department (103).

**Departments Table:**
- Departments include HR (101), Engineering (102), Marketing (103), and Sales (104).

In [3]:

%%sql
-- Insert data into the employees table
INSERT INTO employees (emp_id, name, department_id, salary) VALUES 
(1, 'Alice', 101, 70000),
(2, 'Bob', 102, 60000),
(3, 'Charlie', NULL, 50000),
(4, 'Diana', 103, 80000);

-- Insert data into the departments table
INSERT INTO departments (dept_id, dept_name) VALUES 
(101, 'HR'),
(102, 'Engineering'),
(103, 'Marketing'),
(104, 'Sales');

 * sqlite:///join.sqlite
4 rows affected.
4 rows affected.

[]


### **Step 3: INNER JOIN**
#### Explanation:
An `INNER JOIN` returns rows where there is a match between `employees.department_id` and `departments.dept_id`.

In [ ]:
%%sql  

SELECT 
    employees.name AS Employee_Name,
    departments.dept_name AS Department_Name
FROM 
    employees
INNER JOIN 
    departments 
ON 
    employees.department_id = departments.dept_id;

 * sqlite:///join.sqlite
Done.

[('Alice', 'HR'), ('Bob', 'Engineering'), ('Diana', 'Marketing')]


### **Step 4: LEFT JOIN**
#### Explanation:
A `LEFT JOIN` returns all rows from the `employees` table and matched rows from the `departments` table. If there is no match, the result will contain `NULL` for unmatched columns.

In [ ]:
%%sql  

SELECT 
    employees.name AS Employee_Name,
    departments.dept_name AS Department_Name
FROM 
    employees
LEFT JOIN 
    departments 
ON 
    employees.department_id = departments.dept_id;


### **Step 5: RIGHT JOIN (Simulated)**
#### Explanation:
SQLite does not support `RIGHT JOIN` directly. We can simulate it by reversing the table order in a `LEFT JOIN`.

In [ ]:

%%sql
SELECT 
    employees.name AS Employee_Name,
    departments.dept_name AS Department_Name
FROM 
    departments
LEFT JOIN 
    employees 
ON 
    employees.department_id = departments.dept_id;


### **Step 6: Find Unmatched Rows (RIGHT JOIN Simulation)**
#### Explanation:
To display only the unmatched rows in the simulated `RIGHT JOIN`, we filter the results where `employees.emp_id` is `NULL`.

In [ ]:

%%sql
SELECT 
    employees.name AS Employee_Name,
    departments.dept_name AS Department_Name
FROM 
    departments
LEFT JOIN 
    employees 
ON 
    employees.department_id = departments.dept_id
WHERE
    employees.emp_id IS NULL;


### Summary
This tutorial covers:
1. Creating and populating tables.
2. Using `INNER JOIN` to get matched rows.
3. Using `LEFT JOIN` to include unmatched rows from the left table.
4. Simulating `RIGHT JOIN` in SQLite.
5. Filtering unmatched rows in the simulated `RIGHT JOIN`.

This Jupyter Notebook is structured for an interactive learning experience.