In [ ]:
!pip  install flask flask-sqlalchemy mysql-connector-python --break-system-packages

In [1]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy 

app = Flask(__name__)

app.config['SQLALCHEMY_DATABASE_URI'] = "mysql+mysqlconnector://root:top!secret@localhost:3307/test_2"
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

# ORM = Object Relational Management
db = SQLAlchemy(app) # app.config["SQLALCHEMY_DATABASE_URL"] will be used to instantiate a connection to the database by ORM 

app.app_context().push() # avoid the app from running as server

## Database Models

### `User` Table

| Column Name | Data Type         | Constraints       | Description              |
|-------------|-------------------|-------------------|--------------------------|
| `id`        | `Integer`         | Primary Key, Auto Increment | Unique identifier for each user |
| `name`      | `String(50)`      | Not Null          | Name of the user         |
| `email`     | `String(100)`     | Unique, Not Null  | Email address of the user |
| `posts`     | Relationship      | -                 | Relationship with the `Post` table |

### `Post` Table

| Column Name | Data Type         | Constraints       | Description               |
|-------------|-------------------|-------------------|---------------------------|
| `id`        | `Integer`         | Primary Key, Auto Increment | Unique identifier for each post |
| `title`     | `String(100)`     | Not Null          | Title of the post         |
| `content`   | `Text`            | Not Null          | Content of the post       |
| `user_id`   | `Integer`         | Foreign Key (`users.id`), Not Null | Reference to the `id` of the `User` table |

### `Tag` Table

| Column Name | Data Type         | Constraints       | Description               |
|-------------|-------------------|-------------------|---------------------------|
| `id`        | `Integer`         | Primary Key, Auto Increment | Unique identifier for each tag |
| `name`      | `String(50)`      | Unique, Not Null  | Name of the tag           |

### Many-to-Many Relationship: `Post-Tags`

| Column Name | Data Type         | Constraints       | Description               |
|-------------|-------------------|-------------------|---------------------------|
| `post_id`   | `Integer`         | Foreign Key (`posts.id`), Not Null | Reference to the `id` of the `Post` table |
| `tag_id`    | `Integer`         | Foreign Key (`tags.id`), Not Null  | Reference to the `id` of the `Tag` table |

### `User` Table

| id | name            | email                | 
|----|-----------------|----------------------|
| 1  | Alice Johnson   | alice@example.com   |
| 2  | Bob Smith       | bob@example.com     | 
| 3  | Charlie Brown   | charlie@example.com | 

### `Post` Table

| id | title                    | content                                                      | user_id |
|----|--------------------------|--------------------------------------------------------------|---------|
| 1  | Introduction to SQL      | SQL is a standard language for accessing databases.          | 1       |
| 2  | Advanced Python Tips     | Here are some advanced tips for Python programming.          | 2       |
| 3  | Data Science Basics      | Data Science is a field that combines statistics and programming. | 1       |
| 4  | Flask for Beginners      | Learn how to use Flask to build web applications.            | 3       |

### `Tag` Table

| id | name           |
|----|----------------|
| 1  | SQL            |
| 2  | Python         |
| 3  | Flask          |
| 4  | Data Science   |


###  `PostTags` Table

| post_id | tag_id |
|---------|--------|
| 1       | 1      |
| 1       | 4      |
| 2       | 2      |
| 3       | 4      |
| 4       | 3      |

--
### SELECT * FROM users WHERE id=1
| id | name          | email              | posts                                   |
|----|---------------|--------------------|-----------------------------------------|
| 1  | Alice Johnson | alice@example.com | [Introduction to SQL, Data Science Basics] |


### SELECT * FROM posts;
| id | title                 | content                                                      | author          | tags                     |
|----|-----------------------|--------------------------------------------------------------|-----------------|--------------------------|
| 1  | Introduction to SQL   | SQL is a standard language for accessing databases.          | Alice Johnson   | SQL, Data Science        |
| 2  | Advanced Python Tips  | Here are some advanced tips for Python programming.          | Bob Smith       | Python                   |
| 3  | Data Science Basics   | Data Science is a field that combines statistics and programming. | Alice Johnson   | Data Science             |
| 4  | Flask for Beginners   | Learn how to use Flask to build web applications.            | Charlie Brown   | Flask                    |

In [2]:
class User(db.Model): # aliasing author
    __tablename__ = "users" # refers to the name of the table in the database
                   # type, constraint and  more constraint
    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    name = db.Column(db.String(100), nullable=False)
    email = db.Column(db.String(100), nullable=False)
    posts = db.relationship("Post", backref="author", lazy=True) # this is not present in the database only in python 
    
class Post(db.Model):
    __tablename__ = "posts" # refers to the name of the table in the database
    
    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    title = db.Column(db.String(100), nullable=False)
    content = db.Column(db.String(500), nullable=False)
    user_id = db.Column(db.Integer, db.ForeignKey('users.id')) # users.id refers to the table and the column in the table 
    
class Tag(db.Model):
    __tablename__ = 'tags'
    
    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    name = db.Column(db.String(50), unique=True, nullable=False)
 
class PostTags(db.Model): # pivot table
    __tablename__ = 'post_tags'
    
    post_id = db.Column(db.Integer, db.ForeignKey('posts.id'), primary_key=True) # related through the id of the post
    tag_id = db.Column(db.Integer, db.ForeignKey('tags.id'), primary_key=True) # related through the id of the tag

db.create_all() # will create tables out of the object

In [3]:
""" 
| id | name            | email                | 
|----|-----------------|----------------------|
| 1  | Alice Johnson   | alice@example.com   |
| 2  | Bob Smith       | bob@example.com     | 
| 3  | Charlie Brown   | charlie@example.com | 

"""

# # alternative 1
# users = [
#     User(name="Alice Johnson", email="alice@example.com"),
#     User(name="Bob Smith", email="bob@example.com"),
#     User(name="Charlie Brown", email="charlie@example.com")
# ]
# db.session.add_all[users]

# # alternative 2

# db.session.add_all([
#     User(name="Alice Johnson", email="alice@example.com"),
#     User(name="Bob Smith", email="bob@example.com"),
#     User(name="Charlie Brown", email="charlie@example.com")
# ])

# alternative 3
alice  = User(name="Alice Johnson", email="alice@example.com")
bob = User(name="Bob Smith", email="bob@example.com")
charlie = User(name="Charlie Brown", email="charlie@example.com")

users = [alice, bob, charlie]

db.session.add_all(users)
db.session.commit()

In [4]:
""" 
| id | title                    | content                                                      | user_id |
|----|--------------------------|--------------------------------------------------------------|---------|
| 1  | Introduction to SQL      | SQL is a standard language for accessing databases.          | 1       |
| 2  | Advanced Python Tips     | Here are some advanced tips for Python programming.          | 2       |
| 3  | Data Science Basics      | Data Science is a field that combines statistics and programming. | 1   |
| 4  | Flask for Beginners      | Learn how to use Flask to build web applications.            | 3       |

"""
post1 = Post(title='Introduction to SQL', content='SQL is a standard language for accessing databases.', user_id=1)
post2 = Post(title='Advanced Python Tips', content='Here are some advanced tips for Python programming.', user_id=2)
post3 = Post(title='Data Science Basics', content='Data Science is a field that combines statistics and programming.', user_id=1)
post4 = Post(title='Flask for Beginners', content='Learn how to use Flask to build web applications.', user_id=3)

posts = [post1, post2, post3, post4]

db.session.add_all(posts)
db.session.commit()

In [5]:
""" 

| id | name           |
|----|----------------|
| 1  | SQL            |
| 2  | Python         |
| 3  | Flask          |
| 4  | Data Science   |

"""
tag1 = Tag(name='SQL')
tag2 = Tag(name='Python')
tag3 = Tag(name='Flask')
tag4 = Tag(name='Data Science')

tags = [tag1, tag2, tag3, tag4]

db.session.add_all(tags)
db.session.commit()

In [6]:
""" 

| post_id | tag_id |
|---------|--------|
| 1       | 1      |
| 1       | 4      |
| 2       | 2      |
| 3       | 4      |
| 4       | 3      |

"""
## alternative 1
# post1.tags.append(tag1)
# post1.tags.append(tag4)
# post2.tags.append(tag2)
# post3.tags.append(tag4)
# post4.tags.append(tag3)
# db.session.commit()

## alternative 2

post_tag1 = PostTags(post_id=1, tag_id=1)
post_tag2 = PostTags(post_id=1, tag_id=4)
post_tag3 = PostTags(post_id=2, tag_id=2)
post_tag4 = PostTags(post_id=3, tag_id=4)
post_tag5 = PostTags(post_id=4, tag_id=3)

post_tags = [post_tag1, post_tag2, post_tag3, post_tag4, post_tag5]

db.session.add_all(post_tags)
db.session.commit()

In [ ]:
# SELECT * FROM users
users = User.query.all()

for user in users:
    display(user.id)
    display(user.name)
    display(user.email)
    display("----------------")

In [13]:
# SELECT * FROM users WHERE name="Alice Johnson"
alice = User.query.filter_by(name="Alice Johnson").first() # gives out single element

display(alice.name)

'Alice Johnson'

In [18]:
# SELECT * FROM posts where title LIKE %FLASK%
posts = Post.query.filter(Post.title.ilike("%Flask%")).all() # give out list

for post in posts: 
    display(post.title)

'Flask for Beginners'

In [19]:
# how many times is the database being hit  ? two times which is expensive
# SELECT * FROM users WHERE name="Alice Johnson"
alice = User.query.filter_by(name="Alice Johnson").first() # gives out single element x``

# update alice email to alice_new@example.com 
# UPDATE tables users
# SET email = "alice_new@example.com"
# WHERE  name="Alice Johnson"
alice.email = "alice_new@example.com" 

db.session.commit() #x2

In [20]:

# with single database hit which is cheep and preferable
db.session.query(User).filter_by(name="Alice Johnson").update({"email": "alice_new_2@example.com" })
db.session.commit() #x2

In [ ]:
# SELECT * FROM users WHERE name="Alice Johnson"
alice = User.query.filter_by(name="Alice Johnson").first()

# DELETE FROM users WHERE name="Alice Johnson"
db.session.delete(alice)
db.session.commit()

In [21]:
"""  
SELECT posts.title, users.name
FROM posts
JOIN User ON posts.user_id = users.id;
"""
results = db.session.query(Post.title, User.name).join(User).all()

display(results)

[('Introduction to SQL', 'Alice Johnson'),
 ('Data Science Basics', 'Alice Johnson'),
 ('Advanced Python Tips', 'Bob Smith'),
 ('Flask for Beginners', 'Charlie Brown')]

In [ ]:
from sqlalchemy import func 


""" 
SELECT users.name, COUNT(posts.id) -- func.count(Post.id)
FROM users
JOIN posts ON posts.user_id = users.id
GROUP BY users.name;
"""
results = db.session.query(User.name, func.count(Post.id) # users.name, COUNT(posts.id)
                           ).join(Post # JOIN posts ON posts.user_id = users.id
                                ).group_by(User.name # GROUP BY users.name;
                                           ).all()

In [ ]:
""" 
SELECT Post.id
    FROM Post
JOIN User ON Post.user_id = User.id
WHERE User.name = 'Alice'

"""
subquery = db.session.query(Post.id # SELECT Post.id
                            ).join(User # JOIN User ON Post.user_id = User.id
                                   ).filter(User.name == "Alice" # WHERE User.name = 'Alice'
                                            ).subquery() #
"""
WITH PostSubquery AS (
        SELECT Post.id
        FROM Post
        JOIN User ON Post.user_id = User.id
        WHERE User.name = 'Alice'
)
SELECT Tag.name
FROM Tag
JOIN post_tags ON Tag.id = post_tags.tag_id
WHERE post_tags.post_id IN (SELECT id FROM PostSubquery);
"""
tags = db.session.query(Tag.name).join(post_tags).filter(post_tags.c.post_id.in_(subquery)).all()