
# MySQL Integration with Python Using Context-Based Cursor

This lesson demonstrates how to use a context manager with the `mysql-connector-python` library for database operations. 
Context managers ensure resources like database connections and cursors are properly cleaned up, reducing the chances of resource leaks.

### Prerequisite:
Install the required library using:
```bash
pip install mysql-connector-python
```


## Lesson 1: Connecting to MySQL with a Context Manager

Using a context manager ensures the connection is automatically closed after the block is executed.

In [ ]:

import mysql.connector
from mysql.connector import Error

# Establishing a connection using a context manager
try:
    with mysql.connector.connect(
        host="localhost",  # Replace with your host
        user="root",       # Replace with your username
        password="password" # Replace with your password
    ) as connection:
        if connection.is_connected():
            print("Connected to MySQL Server")
except Error as e:
    print(f"Error: {e}")


## Lesson 2: Creating a Database and Table

Here, we'll create a database and a table using a context-based cursor.

In [ ]:

try:
    with mysql.connector.connect(
        host="localhost",
        user="root",
        password="password"
    ) as connection:
        if connection.is_connected():
            with connection.cursor() as cursor:
                # Create database and table
                cursor.execute("CREATE DATABASE IF NOT EXISTS SchoolDB")
                cursor.execute("USE SchoolDB")
                cursor.execute("""
                    CREATE TABLE IF NOT EXISTS Students (
                        id INT AUTO_INCREMENT PRIMARY KEY,
                        name VARCHAR(255) NOT NULL,
                        age INT NOT NULL,
                        grade VARCHAR(10)
                    )
                """)
                print("Database and table created successfully")
except Error as e:
    print(f"Error: {e}")


## Lesson 3: Inserting Data Using a Context-Based Cursor

We'll insert multiple records into the `Students` table and use `executemany` for batch processing.

In [ ]:

data = [
    ("Alice", 14, "8th"),
    ("Bob", 15, "9th"),
    ("Charlie", 13, "7th")
]

try:
    with mysql.connector.connect(
        host="localhost",
        user="root",
        password="password",
        database="SchoolDB"
    ) as connection:
        with connection.cursor() as cursor:
            # Insert data into the table
            insert_query = """
            INSERT INTO Students (name, age, grade)
            VALUES (%s, %s, %s)
            """
            cursor.executemany(insert_query, data)
            connection.commit()
            print(f"{cursor.rowcount} records inserted.")
except Error as e:
    print(f"Error: {e}")


## Lesson 4: Querying Data Using a Context-Based Cursor

We'll fetch and display all records from the `Students` table using a context-based cursor.

In [ ]:

try:
    with mysql.connector.connect(
        host="localhost",
        user="root",
        password="password",
        database="SchoolDB"
    ) as connection:
        with connection.cursor() as cursor:
            # Query data
            cursor.execute("SELECT * FROM Students")
            records = cursor.fetchall()
            print("Student Records:")
            for record in records:
                print(record)
except Error as e:
    print(f"Error: {e}")


## Lesson 5: Updating Data Using a Context-Based Cursor

We use the `UPDATE` statement to modify a student's grade in the table.

In [ ]:

try:
    with mysql.connector.connect(
        host="localhost",
        user="root",
        password="password",
        database="SchoolDB"
    ) as connection:
        with connection.cursor() as cursor:
            # Update data
            update_query = "UPDATE Students SET grade = %s WHERE name = %s"
            data = ("10th", "Alice")
            cursor.execute(update_query, data)
            connection.commit()
            print(f"Record updated successfully. Affected rows: {cursor.rowcount}")
except Error as e:
    print(f"Error: {e}")


## Lesson 6: Deleting Data Using a Context-Based Cursor

To delete a record, we use the `DELETE` SQL statement and commit the transaction.

In [ ]:

try:
    with mysql.connector.connect(
        host="localhost",
        user="root",
        password="password",
        database="SchoolDB"
    ) as connection:
        with connection.cursor() as cursor:
            # Delete data
            delete_query = "DELETE FROM Students WHERE name = %s"
            data = ("Charlie",)
            cursor.execute(delete_query, data)
            connection.commit()
            print(f"Record deleted successfully. Affected rows: {cursor.rowcount}")
except Error as e:
    print(f"Error: {e}")