In [ ]:
!pip install flask flask-sqlalchemy mysql-connector-python --break-system-packages

In [1]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

# Initialize Flask app
app = Flask(__name__)

# Configure MySQL database URI
app.config['SQLALCHEMY_DATABASE_URI'] = "mysql+mysqlconnector://root:top!secret@localhost:3307/test_1"
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

# Initialize SQLAlchemy
db = SQLAlchemy(app)

# Push the application context for Jupyter Notebook
app.app_context().push()

In [2]:
class User(db.Model):
    __tablename__ = "users"

    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    name = db.Column(db.String(50), nullable=False)
    email = db.Column(db.String(100), unique=True, nullable=False)
    posts = db.relationship("Post", backref="author", lazy=True)

    # SQL Equivalent:
    # CREATE TABLE users (
    #     id INT AUTO_INCREMENT PRIMARY KEY,
    #     name VARCHAR(50) NOT NULL,
    #     email VARCHAR(100) UNIQUE NOT NULL
    # );

class Post(db.Model):
    __tablename__ = "posts"

    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    title = db.Column(db.String(100), nullable=False)
    content = db.Column(db.String(500))
    user_id = db.Column(db.Integer, db.ForeignKey("users.id"), nullable=False)

    # SQL Equivalent:
    # CREATE TABLE posts (
    #     id INT AUTO_INCREMENT PRIMARY KEY,
    #     title VARCHAR(100) NOT NULL,
    #     content VARCHAR(500),
    #     user_id INT NOT NULL,
    #     FOREIGN KEY (user_id) REFERENCES users(id)
    # );

In [3]:
# Create all tables in the database
db.create_all()

# SQL Equivalent:
# CREATE TABLE users (...);
# CREATE TABLE posts (...);
print("Tables created successfully!")

Tables created successfully!

In [ ]:
# Add a new user
new_user = User(name="Alice", email="alice@example.com")
db.session.add(new_user)
db.session.commit()

# SQL Equivalent:
# INSERT INTO users (name, email) VALUES ('Alice', 'alice@example.com');

# Add a post for the user
new_post = Post(title="My First Post", content="Hello World!", author=new_user)
db.session.add(new_post)
db.session.commit()

# SQL Equivalent:
# INSERT INTO posts (title, content, user_id) VALUES ('My First Post', 'Hello World!', 1);

print("Data inserted successfully!")

In [ ]:
# Get all users
users = User.query.all()
for user in users:
    print(f"User: {user.name}, Email: {user.email}")

# SQL Equivalent:
# SELECT * FROM users;

# Get a specific user by ID
user = User.query.get(1)
print(f"Found User: {user.name}")

# SQL Equivalent:
# SELECT * FROM users WHERE id = 1;

# Get all posts for a user
posts = Post.query.filter_by(user_id=user.id).all()
for post in posts:
    print(f"Post Title: {post.title}, Content: {post.content}")

# SQL Equivalent:
# SELECT * FROM posts WHERE user_id = 1;

In [ ]:
# Update a user's email
user = User.query.filter_by(name="Alice").first()
user.email = "alice_updated@example.com"
db.session.commit()

# SQL Equivalent:
# UPDATE users SET email = 'alice_updated@example.com' WHERE name = 'Alice';

print("Data updated successfully!")

In [ ]:
# Delete a post
post = Post.query.filter_by(title="My First Post").first()
db.session.delete(post)
db.session.commit()

# SQL Equivalent:
# DELETE FROM posts WHERE title = 'My First Post';

print("Data deleted successfully!")

In [ ]:
try:
    # Start a transaction
    new_user = User(name="Bob", email="bob@example.com")
    db.session.add(new_user)
    db.session.commit()

    # SQL Equivalent:
    # BEGIN;
    # INSERT INTO users (name, email) VALUES ('Bob', 'bob@example.com');
    # COMMIT;

    print("Transaction committed successfully!")

except Exception as e:
    db.session.rollback()  # Rollback in case of an error
    print(f"Transaction failed: {e}")

    # SQL Equivalent:
    # ROLLBACK;

In [ ]:
# Query with join
results = db.session.query(User.name, Post.title).join(Post).all()
for user_name, post_title in results:
    print(f"User: {user_name}, Post: {post_title}")

# SQL Equivalent:
# SELECT users.name, posts.title FROM users JOIN posts ON users.id = posts.user_id;